<link rel="stylesheet" href="assets/css/pages/shortcode_timeline1.css">

<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">

    <h2 class="pull-left" style="color: black">Blog / 학습문제해결</h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">자기주도학습</li>

    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->


<!--=== Content Part ===-->
<div class="container content">
  <div class="row">

    <%= render partial: 'questions/questions_left_sidebar' %>

    <%= render partial: 'blogs/right_sidebar' %>

  </div>
</div>

