<div class="container container-fluid">
    <div class="content-sm">
        <h2 class="sub-header"><span class="fa fa-book" aria-hidden="true" style="top: 5px"></span>Editing Textbook</h2>
        <div class="col-md-4">
            <%= render 'form' %>

            <%= link_to 'Show', @textbook %> |
            <%= link_to 'Back', textbooks_path %>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>


