<div class="container container-fluid">
    <div class="content-sm">
        <h2 class="sub-header"><span class="fa fa-book" aria-hidden="true" style="top: 5px"></span> New Textbook</h2>

        <div class="col-md-4">
            <%= render 'form' %>
            <%= link_to 'Back', textbooks_path, class: 'btn-u btn-u-orange rounded margin-top-20' %>
        </div>
        <div class="col-md-10"></div>
    </div>
</div>


