<!-- Right Sidebar -->
<div class="col-md-3 margin-top-30 " style="border:1px solid #fff">
  <!-- Social Icons -->
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
      <div class="headline headline-md"><h2>소식지 신청하기</h2></div>
      <div id="home-1" class="tab-pane active">
        <p>유레카메스 소식지나 서비스업데이트에 대한 최신정보를 이메일로 받고자 하시면 신청하시기 바랍니다.</p>
      </div>

      <div class="clearfix">
        <!-- Basic Form -->

        <form class="margin-top-30 " role="form" >
          <div class="form-group">
            <label for="exampleInputEmail1">받아보실 메일주소</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="메일주소를 입력해주세요.">
          </div>
        </form>
        <div>
          <button type="submit" class="btn-u btn-u-blue" data-toggle="modal" data-target=".bs-example-modal-sm">메일신청하기</button>
        </div>
        <!-- End Basic Form -->
      </div>

    </div>
  </div>

  <!-- End Social Icons -->


  <!-- Social Icons -->
  <div class="shadow-wrapper">
    <div class=" margin-bottom-30 tag-box tag-box-v1 box-shadow shadow-effect-2">
      <div class="headline headline-md"><h2>최근소식</h2></div>
      <ul class="list-unstyled blog-trending margin-bottom-50">
        <li>
          <h3><a href="#">유레카메스홈페이지를...</a></h3>
          <p>2016-06-01</p>
        </li>
        <li>
          <h3><a href="#">유레카메스홈페이지를...</a></h3>
          <p>2016-06-01</p>
        </li>
        <li>
          <h3><a href="#">유레카메스홈페이지를...</a></h3>
          <p>2016-06-01</p>
        </li>
        <li>
          <h3><a href="#">유레카메스홈페이지를...</a></h3>
          <p>2016-06-01</p>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- End Social Icons -->

</div>
<!-- End Right Sidebar -->

</div>
</div>
