<!-- Right Sidebar -->
<div class="col-md-3" style="border:1px solid #fff">

  <!-- Social Icons -->
  <div class="shadow-wrapper">
    <div class=" margin-bottom-30 tag-box tag-box-v1 box-shadow shadow-effect-2">
      <div class="headline headline-md"><h2>최근소식</h2></div>
      <ul class="list-unstyled blog-trending margin-bottom-50">
        <% @latest_news.each do |news|%>
          <li>
            <h3>- <%= Blog::BLOG_TYPES[news.blog_type] %> -</h3>
            <p><a href="/blogs/<%= news.id %>"><%= news.title  %></a></p>
            <p><%= news.created_at.in_time_zone("Asia/Seoul").strftime('%Y/%m/%d') %></p>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- End Social Icons -->

</div>
<!-- End Right Sidebar -->

</div>
</div>
