<% str = '' %>
<% Blog::BLOG_TYPES.each_pair do |key, value| %>
    <% if @blog_type == key %>
        <% str = value %>
    <% end %>
<% end %>

<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">

    <h2 class="pull-left" style="color: black">About / <%= str %></h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">자기주도학습</li>

    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->


<!--=== Content Part ===-->
<div class="container content">
  <div class="row">

    <%= render partial: 'blogs/blog_left_sidebar' %>

    <%= render partial: 'blogs/right_sidebar' %>

  </div>
</div>
