<div class="breadcrumbs col-md-12">
    <div class="container">
        <h2 class="pull-left" style="color: black">FAQs</h2>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">About</a></li>
            <li class="active">FAQ</li>
        </ul>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-ms-12 col-xs-12 margin-top-20">
            <!-- 자주 묻는 질문들 -->
            <div class="headline"><h2>자주 묻는 질문들</h2></div>
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                1. 가입 방법
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            저희 사이트는 e-mail 주소를 아이디로 사용하고 있습니다. <br>
                            따라서 가입 시 메일을 받으실 수 있는 e-mail 주소를 기입해주시기 바랍니다.<br><br>
                            <i class="fa fa-hand-o-right"></i><a href="/blogs/sign_in_process"> 가입 방법 보기</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                2. 홈페이지 접속시 구글 Chrome 브러우저 사용을 권장합니다.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            저희 사이트는 html5 웹표준을 기준으로 제작되었습니다.<br>
                            사이트 이용시 낮은 버전의 Internet explorer(인터넷 익스플로러7 이하)에서는 이용이 원활하지 않을 수 있습니다. 최신버전의 브라우저와 비교했을 때 화면이 다르게 보일 수 있음을 알려드립니다.<br>
                            저희가 이용하는 동영상 저장소의 정책으로 인해 동영상 자체적으로는 재생 속도 조절 기능을 지원하지 않습니다.<br>
                            동영상 재생 속도 조절 기능을 이용할 학생분들은 구글 Chrome(크롬) 사용을 권장하며, 아래의 학습 이용 관련 질문들의 '동영상 재생 속도 조절 방법'을 참고해주시기 바랍니다.<br>
                            <br><i class="fa fa-hand-o-right"></i><a href="https://www.google.co.kr/chrome/browser/desktop/" target="_blank"> 구글 크롬 다운로드 사이트로 이동</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/blogs/how_to_purchase_membership">
                                3. 맴버십 결제 방법
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/blogs/how_to_purchase_textbook">
                                4. 교재 구입 방법
                            </a>
                        </h4>
                    </div>
                </div>
            </div><!--/acc-v1-->
            <!-- End 자주 묻는 질문들 -->

            <!-- 학습 이용 관련 질문들 -->
            <div class="headline"><h2>학습 이용 관련 질문들</h2></div>
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                1. 동영상 재생 속도 조절 증가 방법 (Chrome 브라우저)
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-One" class="panel-collapse collapse">
                        <div class="panel-body">
                            저희가 이용하는 동영상 저장소의 정책으로 동영상 재생 속도 조절 기능을 지원하지 않습니다.<br>
                            동영상 재생 속도 조절 기능을 사용하고자 하는 학생분들은 구글 Chrome 브라우저를 먼저 설치하신 후 아래의 링크를 통해 동영상 재생 속도 조절 기능을 확장시켜 주시기 바랍니다.<br><br>
                            <i class="fa fa-hand-o-right"></i><a href="https://www.google.co.kr/chrome/browser/desktop/" target="_blank"> 구글 크롬 다운로드 사이트로 이동</a><br><br>
                            <i class="fa fa-hand-o-right"></i><a href="/blogs/video_function_extension"> 동영상 재생 속도 조절 기능 확장 방법 보기</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                2. 학습화면 설명
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-Two" class="panel-collapse collapse">
                        <div class="panel-body">
                            저희 서비스를 처음 이용하는 학생들의 효율적인 학습을 돕기 위해 간단하게 학습화면의 기능들을 정리하였습니다.<br><br>
                            <i class="fa fa-hand-o-right"></i><a href="/blogs/studying_screen_explanation"> 학습화면 기능 설명 보기</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                3. 학생과 선생님과의 관계 맺는 방법
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-Three" class="panel-collapse collapse">
                        <div class="panel-body">
                            학생과 선생님의 관계를 연결하는 방법을 소개합니다. 선생님과의 관계를 맺음으로서 학생들은 선생님의 도움을 받을 수 있습니다.<br><br>
                            <i class="fa fa-hand-o-right"></i><a href="/blogs/student_teacher_connection"> 학생-선생님 관계 맺음 방법 보기</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                4. 학생관리 방법
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-Four" class="panel-collapse collapse">
                        <div class="panel-body">
                            선생님들은 학생들의 학습이력을 확인할 수 있습니다. 이 페이지를 참고하여 학생들을 효율적으로 관리하세요!<br><br>
                            단, 학생들을 관리하기 위해서는 먼저 관계가 맺어있어야 합니다.<br><br>
                            <i class="fa fa-hand-o-right"></i><a href="/blogs/student_administration"> 학생관리 방법 보기</a>
                        </div>
                    </div>
                </div>

            </div><!--/acc-v1-->
            <!-- End 학습 이용 관련 질문들 -->

        </div><!--/col-md-12-->
        <div class="col-md-1"></div>
    </div><!--/row-->
</div>

<%= render 'homes/footer' %>