<div class="breadcrumbs col-md-12">
  <div class="container">
    <h2 class="pull-left" style="color: black">FAQs</h2>
    <ul class="pull-right breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="">About</a></li>
      <li class="active">FAQ</li>
    </ul>
  </div>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-ms-12 col-xs-12 margin-top-20">
      <!-- 일반적인 질문들 -->
      <div class="headline"><h2>자주 묻는 질문들</h2></div>
      <div class="panel-group acc-v1 margin-bottom-40" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                1. 구글 Chrome 브라우저 권장 이용
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              저희 사이트는 html5 표준을 이용하여 만들었습니다.<br>
              이 때문에 낮은 버전의 Internet explorer(인터넷 익스플로러)에서는 이용이 원활하지 않고, 최신버전의 브라우저 비교했을 때 화면이 다르게 보일 수 있습니다.<br>
              그리고 저희가 이용하는 동영상 저장소가 비디오 재생 속도 기능을 지원하지 않는 이유로 동영상 재생 속도를 조절기능을 이용할 학생분들은 구글 Chrome(크롬) 사용을 권장합니다.<br>
              <br><a href="https://www.google.co.kr/chrome/browser/desktop/" target="_blank">구글 크롬 다운로드 사이트로 이동</a>
            </div>
          </div>
        </div>
      </div><!--/acc-v1-->
      <!-- End General Questions -->

      <!-- 학습 이용 관련 질문들 -->
      <div class="headline"><h2>학습 이용 관련 질문들</h2></div>
      <div class="panel-group acc-v1" id="accordion-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                1. 동영상 재생 속도 증가 방법 (Chrome 브라우저)
              </a>
            </h4>
          </div>
          <div id="collapse-One" class="panel-collapse collapse">
            <div class="panel-body">
              저희가 이용하는 동영상 저장소가 비디오 재생 속도 기능을 지원하지 않는 이유로 비디오 재생 속도 조절 기능을 사용하고자 하는 학생분들은 구글 Chrome 브라우저를 먼저 설치하신 후 아래의 링크를 통해 비디오 재생 속도 기능을 확장시켜 주시기 바랍니다.<br><br>
              <i class="fa fa-hand-o-right"></i><a href="https://www.google.co.kr/chrome/browser/desktop/" target="_blank"> 구글 크롬 다운로드 사이트로 이동</a><br><br>
              <i class="fa fa-hand-o-right"></i><a href="/blogs/video_function_extension"> 비디오 재생 속도 기능 확장 방법 보기</a>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                2. 학습화면 설명
              </a>
            </h4>
          </div>
          <div id="collapse-Two" class="panel-collapse collapse">
            <div class="panel-body">
              저희 서비스를 처음 이용하는 학생들의 효율적인 학습을 돕기 위해 간단하게 학습화면의 기능들을 정리하였습니다. 아래의 링크를 통해 확인해주시기 바랍니다.<br><br>
              <i class="fa fa-hand-o-right"></i><a href="/blogs/studying_screen_explanation"> 학습화면 기능 설명 보기</a>
            </div>
          </div>
        </div>

      </div><!--/acc-v1-->
      <!-- End Other Questions -->
    </div><!--/col-md-12-->
    <div class="col-md-1"></div>
  </div><!--/row-->
</div>

<%= render 'homes/footer' %>