<div class="breadcrumbs-v1">
    <div class="container">
        <span>My Page / 결제 정보</span>
        <h1>맴버쉽 구입 방법</h1>
    </div>
</div>

<div class="container container-fluid content-sm">
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <h5><span style="color: red">*</span>맴버쉽을 결제하기 앞서 먼저 로그인이 이루어져야 합니다.</h5><br/>

            <h3>1.</h3>
            <h4>로그인 후 <span style="color: white;" class="text-highlights-green">MY PAGE</span>를 클릭하여 MY PAGE로 이동합니다.</h4>
            <h3>2.</h3>
            <h4>
                왼쪽 하단의 <span style="color: white;" class="text-highlights-green">결제 정보</span>을 클릭하면 결제정보 페이지가 나타납니다.
            </h4>
        </div>
        <div class="col-md-8">
            <img src="/assets/img/membership/membership_1.png" class="img-responsive center-block">
        </div>
    </div>

    <hr>

    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <h3>2가지의 결제 방법이 있습니다.</h3>
            <br/>

            <h3>1. KG 이니시스</h3>
            <h4>
                상품과 결제 수단을 선택 후 <span style="color: white;" class="text-highlights-blue">결제하기</span> 버튼을 클릭하면 결제가 진행됩니다.
                결제는 한화로 결제됩니다.
            </h4><br/>

            <h3>2. Paypal</h3>
            <h4>
                상품을 선택 후 <span class="text-highlights-yellow rounded-2x">&nbsp;<span style="color: darkblue"> Pay</span><span style="color: dodgerblue">Pal </span></span>
                 버튼을 클릭하면 결제가 진행됩니다. 결제는 달러로 결제됩니다.
            </h4>
        </div>
        <div class="col-md-8">
            <img src="/assets/img/membership/membership_2.png" class="img-responsive center-block">
        </div>
    </div>

    <hr/>
</div>

<%= render 'homes/footer' %>