<div class="breadcrumbs-v1">
    <div class="container">
        <span>My Page / 교재 신청</span>
        <h1>교재 구입 방법</h1>
    </div>
</div>

<div class="container container-fluid content-sm">
    <div class="col-md-6">
        <h3>1. 로그인 후 교재 구입 페이지로 이동</h3>
    </div>
    <div class="col-md-6">
        <img src="">
    </div>
</div>