<div class="container-fluid" style="margin-top: 50px">
  <div class="col-md-12 margin-top-20" >
    <!--  panel -->
    <div class="panel panel-blue">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 20px" ><i class="fa fa-tasks"></i> 등록하기</h3>
      </div>

      <%= render 'form' %>

    </div>
  </div>
</div>