<% str = '' %>
<% Blog::BLOG_TYPES.each_pair do |key, value| %>
    <% if @blog_type == key %>
        <% str = value %>
    <% end %>
<% end %>

<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="color: black">About / <%= str %></h2>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->


<!--=== Content Part ===-->
<div class="container">
  <div class="row">

    <%= render partial: 'blogs/blog_left_sidebar' %>

    <%= render partial: 'blogs/right_sidebar' %>

  </div>
</div>


<%= render 'homes/footer' %>
