<div class="breadcrumbs col-md-12">
  <div class="container">
    <h1 class="pull-left">추천사</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li>About</li>
      <li class="active">추천사</li>
    </ul>
  </div><!--/container-->
</div>

<div class="wrapper">

  <div class="container">
    <div class="row">
      <div class="margin-bottom-20">
      <div class="col-md-6 margin-top-20">

       <h5>
         <br><br>『유레카매스(Eureka Math)』 서비스를 접하는 순간 여러 생각이 들었습니다.<br><br><br>

         도구를 사용할 줄 안다는 의미에서 인간에게 붙여진 호모파베르(Homo Faber)라는 단어,
         10년 전쯤 스티브 잡스가 아이폰 들고 등장하던 모습, 작년 5월 KBS 초청강연에서 “향후 5년 내에 현재의 교육시스템은 온라인체제로 바뀔거라 예측한다”고 말하던 영국의 미래학자 토마스 프레이 박사 말입니다.
         그 무엇보다 우리 사회의 논란이 되고 있는 가중된 사교육비의 무게감을 견디다 못해 자녀 낳기를 포기한다는 젊은 세대와 누구보다도 수포자(수학을 포기하는 학생)의 근심어린 얼굴이 강하게 스쳐 지나갔습니다.<br><br><br>

         세상을 바꿔놓겠다던 스티브 잡스의 말처럼 현대인은 어른, 아이 연령에 상관없이 블랙홀과도 같은 스마트폰의 매력에 빠져들었지만,
         학생들에게는 IT를 이용한 교육용 도구로서의 스마트폰의 긍정적 효과보다는 게임 중독, 채팅 등의 부정적 효과를 더 걱정하는 학부모들이 많습니다.
         이제는 교육현장에서 인터넷을 기반으로 한 IT기기를 보다 유용하고 효과적인 도구로 바꾸어 나갈 수 있는 환경과 문화가 만들어져야 할 때가 아닌가 생각됩니다.<br><br>
       </h5>
      </div>
      <div class="col-md-6 margin-top-20">
        <img class="img-responsive rounded" src="/assets/img/recommendation_img/kimyongeun_img/kimyongeun.jpg" alt="">
        <p class="margin-bottom-30">※ 김용운 박사님은 우리나라 현대수학의 체계를 세운 석학으로 한국수학사학회장을 역임하셨으며 현재에도 한양대학교 명예교수, 한국수학문화연구소장으로 활동하고 계십니다.</p>
      </div>
      <div class="col-md-12 margin-bottom-30">
        <h5>
          이러한 시기에 『유레카매스』라는 중고등학교 수학교육 온라인서비스의 출시는 나에게 한줄기 희망입니다.
          어려운 수학 개념이나 문제가 학생 개개인의 현수준에 맞게 제작되어 쉽고 재미있게 학생 스스로 해결할 수 있도록 프로그램화 되어 있고,
          자기주도형 학습 동영상강의는 물론 공부하면서 쌓인 자료들이 데이터베이스에 저장이 되어 학생 본인은 물론 수학공부 멘토인 선생님과 학부모까지도 함께 자료를 공유하여 학생의 수학능력 향상에 도움을 주고 있습니다. 기존의 일방적 수학문제 풀이 위주의 인터넷 강의나 방송의 틀에서 벗어난 『유레카매스』 서비스는 멘토 선생님과 학생과의 양방향 소통에 초점을 맞추고 있습니다.
          소득불평등에 따른 수학학습 기회를 박탈당한 저소득층 자녀나 산간벽지 학생들에게 무상으로 지원하여 교육격차를 해소하려는 책임감 넘치는 기업의 소중한 역할 또한 기대합니다.<br><br>

          문명의 이기인 IT기기를 수학 공부의 긍정적 도구로 바꾼 『유레카매스』 서비스를 잘 활용하고 공부하여 수학실력 향상은 물론 더 나아가 이 나라의 희망인 학생들이 자신의 꿈을 실현하게 되기를 기대합니다.
        </h5>
      </div>
        </div>
    </div>
  </div>
</div>

  <%= render 'homes/footer' %>
</div>
