<div class="breadcrumbs-v3 img-v1 text-center margin-bottom-20" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h1><i class="fa fa-users"></i></h1>
    <h1>가입절차</h1>
  </div>
</div>

<!-- 메인화면 -->
<div class="container content-sm">
  <div class="headline-center">
    <h2>1. 메인화면</h2>
    <p>오른쪽 상단에 있는 <span style="color: red">Sign In</span>을 클릭하여 회원가입 화면으로 이동합니다.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <img src="/assets/img/sign_in_process/signin_process_1.png" class="img-responsive">
    </div>
  </div><!--/end row-->
</div><!-- END 메인화면 -->

<hr class="devider devider-db-dashed no-margin">

<!-- 회원가입 화면 -->
<div class="container content-sm">
  <div class="headline-center">
    <h2>2. 회원가입 화면</h2>
    <p>
      <span style="font-weight: bold">Email Address</span>에는 고객님께서 이용하고 있는 email 주소를 입력해주시기 바랍니다.<br>
      ex) 아이디@gmail.com, 아이디@naver.com, 아이디@daum.net 등등 <br><br>
      <span class="label label-success">가입</span> 버튼을 누르면 해당 email 주소로 <span style="color: red">인증확인 메일</span>이 전송됩니다.
    </p>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <img src="/assets/img/sign_in_process/signin_process_2.png" class="img-responsive">
    </div>
    <div class="col-md-2">
    </div>

  </div><!--/end row-->
</div><!-- END 회원가입 화면 -->

<hr class="devider devider-db-dashed no-margin">

<!-- 인증확인 메일 화면 -->
<div class="container content-sm">
  <div class="headline-center">
    <h2>3. 인증확인 메일</h2>
    <p><span style="color: red">계정인증</span> 기간은 가입 시점으로부터 <span style="font-weight: bold">2일</span><span style="color: red">*</span> 동안이며 <br>
      되도록 가입 후 바로 <span style="color: red">계정인증</span>을 하는 것을 권장합니다.</p>
    <p><i class="fa fa-bullhorn"></i> 2일 안에 계정인증이 이루어지지 않으면 이용에 불편을 겪으실 수 있습니다.</p><br>
    <p><span style="color: red">계정인증</span>을 클릭하시면 사용자 정보 화면으로 이동합니다.</p>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <img src="/assets/img/sign_in_process/signin_process_3.png" class="img-responsive">
    </div>
    <div class="col-md-2">
    </div>
  </div><!--/end row-->
</div><!-- END 인증확인 메일화면 -->

<hr class="devider devider-db-dashed no-margin">

<!-- 사용자 정보 화면 -->
<div class="container content-sm">
  <div class="headline-center">
    <h2>4. 사용자 정보 화면</h2>
    <p>사용자 정보의 빈칸을 채워주시기 바랍니다.</p>
    <p>해당하는 학년을 선택 후 STUDY의 <span style="color: darkblue">단원별</span>과 <span style="color: darkblue">학년별</span> 컨텐츠를 이용하실 수 있습니다.</p>
  </div>

  <div class="row">
    <div class="col-md-12 md-margin-bottom-50">
      <img src="/assets/img/sign_in_process/signin_process_4.png" class="img-responsive margin-bottom-30">
    </div>
  </div><!--/end row-->
</div><!-- END 사용자 정보 화면 -->

<%= render 'homes/footer' %>