<!--=== Parallax Backgound ===-->
<div class="bg-image-v1 bg-image-v2-dark parallaxBg1">
    <div class="container">
        <div class="headline-center-v2 margin-bottom-10">
            <h1 style="color: white;">학생 - 선생님 관계 맺기</h1>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>선생님의 도움을 효과적으로 받을 수 있습니다.</p>
        </div><!--/Headline Center V2-->
    </div><!--/container-->
</div>
<!--=== End Parallax Backgound ===-->

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h2 class="title-v2">학생</h2>
                <h4>1. MY PAGE/사용자 정보 화면의 회원님과의 관계 부분에 있는 <button class="btn btn-u btn-u-dark-blue rounded">관계 추가</button> 버튼을 클릭합니다.</h4>
                <br/><br/><h5><i class="fa fa-hand-o-right"></i><a href="/mypages/user_info">MY PAGE/사용자 정보 페이지로 이동하기</a></h5>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/faqimgs/relations_of_user.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h4>2. 관계 추가 창이 나타나면 관계 구분을 선택 후, 알고 있는 선생님의 이메일을 입력합니다.</h4>
                <br>
                <h5><i>단, 선생님의 이메일은 유레카메스에 가입된 이메일 계정이어야 합니다.</i></h5>
                <br>
                <h4>알맞은 이메일을 입력 후, <button class="btn-u btn-u-dark-blue rounded">추가</button> 버튼을 클릭하여 선생님에게 관계를 요청합니다.</h4>
            </div>
            <div class="col-md-6">
                <h5>( ex )</h5>
                <img src="/assets/img/faqimgs/add_ralation_modal_2.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h4>3. 관계 요청 확인은 회원님과의 관계를 통하여 요청 상태를 확인할 수 있습니다. </h4>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/faqimgs/relations_of_user_2.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h2 class="title-v2">선생님</h2>
                <h4>1. 요청된 관계 신청은 My Page/사용자 정보의 신청확인을 통해 확인할 수 있습니다.</h4>
                <h4>학생의 정보를 확인 후 <button class="btn-u btn-u-sm btn-u-info rounded">수락</button> 클릭하여 해당 학생과의 관계를 맺습니다.</h4>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/faqimgs/confirm_requests.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h4>2. 맺어진 관계는 MY PAGE/사용자 정보와 MY PAGE/전체보기의 회원님과의 관계에서 확인이 가능합니다.</h4>
            </div>
            <div class="col-md-6">
                <div class="row margin-bottom-20">
                    <img src="/assets/img/faqimgs/relations_of_user_3.png" class="img-responsive center-block">
                </div>
                <div class="row">
                    <img src="/assets/img/faqimgs/relations_of_user_4.png" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
</div>

<%= render partial: 'homes/footer' %>