<link rel="stylesheet" href="/assets/css/pages/page_one.css">

<div class="interactive-slider-v2">
    <div class="container">
        <h1><i class="fa fa-desktop"></i> <br>학습 화면 기능 설명</h1>
    </div>
</div>

<div class="one-page">

    <div class="one-page-inner one-default">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-4">
                    <h1>1. 학습화면의 전체화면</h1>
                    <h5>
                        현재 학습화면은 크게 4가지로 볼 수 있습니다.<br><br>
                        1) 메뉴바<br><br>
                        2) 개념, 개념해설, 개념문제 등이 보이는 메인 학습화면 부분<br><br>
                        3) 개념을 바로 찾을 수 있는 목차 탐색 창<br><br>
                        4) 학습문제해결 창
                    </h5>
                </div>
                <div class="col-md-8">
                    <img src="/assets/img/studyscreens/study_view_1.png" class="img-responsive img-bordered rounded" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-blue">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-4">
                    <h1>2. 메뉴바</h1>

                    <h5 style="color: white">메뉴바의 구성</h5>
                    <h5 style="color: white">1. 학습창 관련 아이콘<br/>&nbsp;&nbsp;&nbsp;&nbsp;클릭 시, 해당 컨텐츠로 바로 이동하여 이용하실 수 있습니다.</h5>
                    <h5 style="color: white">2. 메인 화면 관련 아이콘<br/>&nbsp;&nbsp;&nbsp;&nbsp;클릭 시, 메인화면, 마이페이지, FAQs로 화면으로 이동합니다.</h5>
                </div>
                <div class="col-md-8">
                    <img src="/assets/img/studyscreens/study_view_2.png" class="img-responsive center-block rounded" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-default">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-4">
                    <h1>3. 메인 학습화면</h1>
                    <h5>
                        이미지 왼쪽 상단에 보여지는 <i class="fa fa-star tooltips" data-toggle="tooltips" data-placement="top" data-original-title="별" style="color: orangered"></i>의 개수는 개념의 난이도를 나타냅니다.<br><br>
                        개념, 개념설명, 개념문제, 동영상 순으로 학습창 안의 <span style="color: white" class="text-highlights-red rounded">&nbsp;버튼&nbsp;</span>을 눌러 해당 컨텐츠로 이동할 수 있습니다.
                    </h5>
                    <h5>
                        <span style="color: white" class="text-highlights-blue rounded">&nbsp;목차숨기기&nbsp;</span> 버튼을 클릭 시, 더 넓은 화면으로 공부하실 수 있습니다.
                    </h5>
                </div>
                <div class="col-md-8">
                    <img src="/assets/img/studyscreens/study_view_3.png" class="img-responsive center-block img-bordered rounded" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-red">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-4">
                    <h1>4. 목차 탐색 창</h1>
                    <h5 style="color: white">
                        1) 학습 방법을 <span class="text-highlights-purple rounded">&nbsp;단원별&nbsp;</span>로 선택 시 보여지는 목차입니다.
                    </h5>
                    <h5 style="color:white">
                        2) 학습 방법을 <span class="text-highlights-blue rounded">&nbsp;학년별&nbsp;</span>로 선택 시 보여지는 목차입니다.
                    </h5>
                    <h5 style="color: white">
                        3) 현재 공부하고 있는 <span class="text-highlights-green rounded">&nbsp;개념의 위치&nbsp;</span>를 알 수 있습니다.
                    </h5>
                    <h5 style="color: white">
                        4) 공부하고 싶은 개념을 바로 클릭하여 해당 학습창으로 이동할 수 있습니다.
                    </h5>
                </div>
                <div class="col-md-8">
                    <img src="/assets/img/studyscreens/study_view_4.png" class="img-responsive rounded" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-default">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-4">
                    <h1>5. 학습문제해결</h1>
                    <h5>
                        1) 학습문제해결의 <span style="color: white" class="text-highlights-red rounded">&nbsp;질문하기&nbsp;</span> 버튼을 클릭하면 학습중인 개념에 대해서 질문을 할 수 있습니다.
                        현재 학습하고 있는 내용의 궁금점에 대해 적고 <span style="color:white;" class="text-highlights-blue rounded">&nbsp;보내기&nbsp;</span> 버튼을 클릭하여 질문 등록합니다.
                    </h5>
                    <br/>
                    <h5>
                        2) 보낸 질문은 <span class="badge badge-red rounded-x">2</span>와 같이 해당 개념의 질문 이력이 표시되어 질문 내용을 확인 할 수 있습니다. 제목을 클릭 시, Blog의 학습문제해결으로 이동합니다.
                    </h5>
                    <br/>
                    <h5>
                        3) 보낸 질문은 <i><strong style="color: green">Blog의 학습문제해결</strong></i>과 <i><strong style="color: green">MY PAGE의 질문/답변 리스트</strong></i>에서도 확인하실 수 있습니다.
                    </h5>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 margin-bottom-20">
                            <img src="/assets/img/studyscreens/study_view_5.png" class="img-responsive center-block img-bordered rounded" alt="">
                        </div>
                        <div class="col-md-12">
                            <img src="/assets/img/studyscreens/study_view_6.png" class="img-responsive center-block img-bordered rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-orange">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-12">
                    <h1>6. 개념문제 및 자기평가</h1>
                </div>
                <div class="col-md-6">
                    <h5 style="color: white">
                        1) 개념문제
                    </h5>
                    <img src="/assets/img/studyscreens/study_view_7.png" class="img-responsive rounded" alt="">
                </div>
                <div class="col-md-6">
                    <h5 style="color: white">
                        2) 자기평가
                    </h5>
                    <img src="/assets/img/studyscreens/study_view_8.png" class="img-responsive rounded" alt="">
                    <h5 style="color: white">
                        학습창에서 평가한 자기평가는 <span class="badge badge-red rounded-x">2</span><i>의 <strong style="color: darkblue">MY PAGE의 자기평가</strong></i>
                        에서도 확인이 가능합니다.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-default">
        <div class="container container-fluid content-sm">
            <div class="row">
                <div class="col-md-12">
                    <h1>7. 강의 동영상</h1>
                </div>
                <div class="col-md-6">
                    <h5>
                        1) 개념 강의동영상
                    </h5>
                    <div class="responsive-video">
                        <iframe class="rounded" src="https://player.vimeo.com/video/171550465?title=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>
                        2) 문제풀이 동영상
                    </h5>
                    <div class="responsive-video">
                        <iframe class="rounded" src="https://player.vimeo.com/video/174830733?title=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%= render 'homes/footer' %>