<div class="breadcrumbs-v1">
    <div class="container">
        <h1><i class="icon icon-education-110"></i> 학생 관리 방법</h1>
        <span>학생 관리 페이지에서 학생들의 공부 이력을 보고 효율적으로 관리하세요!</span>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h2 class="title-v2">1.</h2>
                <h4>우선 학생들을 관리하기 위해서는 학생들과의 관계가 맺어져 있어야 합니다.</h4>
                <i class="fa fa-hand-o-right"></i><a href="/blogs/student_teacher_connection"> 학생-선생님 관계 맺음 방법 바로가기</a><br><br>
                <h4><strong>MY PAGE/학생관리</strong>에서 학습한 학생들의 리스트를 볼 수 있습니다.</h4><br>
                <h4>이 리스트는 가장 최근에 학습한 학생 순으로 나열됩니다.</h4><br>
                <h4>학생의 더 자세한 공부이력을 보기 위해 Show를 클릭합니다.</h4>
            </div>
            <div class="col-md-6">
            <img src="/assets/img/faqimgs/student_administration.png" class="img-responsive">
        </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h2 class="title-v2">2.</h2>
                <h4>학생의 공부 이력을 상세하게 볼 수 있습니다.</h4><br>
                <h4>가장 최근에 공부한 순서대로 나열되어 학생이 가장 최근에 공부한 개념이 무엇인지 알 수 있습니다.</h4><br>
                <h4>유닛 개념에 대한 전체 진행도를 통해 쉽게 파악할 수 있습니다.</h4>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/faqimgs/student_administration_2.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h2 class="title-v2">3.</h2>
                <h4>개념문제 부분의 <label class="text-highlights-green" style="color: white;">&nbsp;정답이력 보기&nbsp;</label>를 클릭하면 각각의 개념문제의 맞음/틀림 표시를 O, X로 통해 확인할 수 있습니다.</h4><br>
                <h4>'O'의 경우는 학생이 문제를 맞췄음을 나타나고, 'X'는 틀렸음을 의미합니다.</h4><br>
                <h4>O, X의 표시 횟수가 많을수록 그만큼 학생이 복습하고 문제를 풀었다는 것을 의미합니다.</h4>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/faqimgs/student_administration_3.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-30">
                <h2 class="title-v2">4.</h2>
                <h4>자기평가 부분의 <label class="text-highlights-green" style="color: white;">&nbsp;자기평가 보기&nbsp;</label>를 클릭하면 학생이 기록한 해당 개념의 대한 이해도와 내용정리를 확인할 수 있습니다.</h4>
                <h4>난이도는 쉬움, 보통, 어려움으로 구분되어 있습니다.</h4>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/faqimgs/student_administration_4.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<%= render partial: 'homes/footer' %>