<link rel="stylesheet" href="/assets/css/pages/page_one.css">

<div class="interactive-slider-v2">
  <div class="container">
    <h1><i class="fa fa-desktop"></i> <br>학습 화면 기능 설명</h1>
  </div>
</div>

<div class="one-page">
  <div class="one-page-inner one-default">
    <div class="container content">
      <div class="row">
        <div class="col-md-6">
          <h1>1. 학습화면의 전체화면</h1>
          <p>
            현재 학습화면은 크게 3가지로 볼 수 있습니다.<br><br>
            1) 이전, 다음 개념으로 바로 넘어갈 수 있는 개념 선택 부분<br><br>
            2) 개념, 개념해설, 개념문제 등이 보이는 메인 학습화면 부분<br><br>
            3) 개념, 개념해설, 개념문제 등을 선택할 수 있는 아이콘 선택 부분<br><br>
          </p>
        </div>
        <div class="col-md-6">
          <img src="/assets/img/studyscreens/studying_screen_1.png" id="studyingScreen1" class="img-responsive margin-bottom-10" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-blue">
    <div class="container content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/img/studyscreens/studying_screen_2.png" class="img-responsive rounded margin-bottom-10" alt="">
        </div>
        <div class="col-md-6">
          <h2>2. 개념 선택</h2>
          <p>
            현재 개념을 공부하다 이전 개념이 부족하다고 느끼면 바로 이전 개념을 클릭하여 학습할 수 있습니다.<br><br>
            현재 개념 학습을 마친 후 바로 다음 개념으로 이동하여 학습하실 수 있습니다.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-default">
    <div class="container content">
      <div class="row margin-bottom-60">
        <div class="col-md-6">
          <h2>3. 메인 학습화면</h2>
          <p>
            이미지 왼쪽 상단에 보여지는 <i class="fa fa-star tooltips" data-toggle="tooltips" data-placement="top" data-original-title="별" style="color: orangered"></i>의 개수는 개념의 난이도를 나타냅니다.<br><br>
            하단의 배치된 아이콘 선택에 따라 개념, 개념해설, 개념문제, 동영상 강의 등이 화면에 나타납니다.
          </p>
        </div>
        <div class="col-md-6">
          <img src="/assets/img/studyscreens/studying_screen_3.png" class="img-responsive rounded margin-bottom-10" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-red">
    <div class="container content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/img/studyscreens/studying_screen_4.png" class="img-responsive rounded margin-bottom-10" alt="">
        </div>
        <div class="col-md-6">
          <h2>4. 아이콘 선택 부분</h2>
          <p>
            원하시는 아이콘을 클릭하여 원하시는 학습을 하실 수 있습니다.<br>
            아이콘의 숫자 표시는 각각의 해당 컨텐츠의 개수를 나타냅니다.<br>
            아이콘에 마우스 커서를 갖다 대면 두 번째 줄의 아이콘과 같이 문구가 나타납니다.
          </p>

          <li style="color: white"><i class="fa fa-book tooltips" data-toggle="tooltips" data-placement="top" data-original-title="개념"></i>&nbsp;&nbsp;개념</li>
          <li style="color: white"><i class="fa fa-tasks tooltips" data-toggle="tooltips" data-placement="top" data-original-title="개념해설"></i>&nbsp;&nbsp;개념해설</li>
          <li style="color: white"><i class="fa fa-pencil tooltips" data-toggle="tooltips" data-placement="top" data-original-title="개념문제"></i>&nbsp;&nbsp;개념문제 : 주관식 문제와 OX 선택 문제를 풀어보실 수 있습니다.</li>
          <li style="color: white"><i class="fa fa-link tooltips" data-toggle="tooltips" data-placement="top" data-original-title="관련개념"></i>&nbsp;&nbsp;관련개념 : 현재 개념을 공부하기 위해 미리 알아둬야 할 선수 개념들을 쉽게 찾아볼 수 있습니다.</li>
          <li style="color: white"><i class="fa fa-film tooltips" data-toggle="tooltips" data-placement="top" data-original-title="동영상"></i>&nbsp;&nbsp;동영상 : 동영상을 통해 해당 개념의 이해를 돕습니다.</li>
          <li style="color: white"><i class="fa fa-pencil-square-o tooltips" data-toggle="tooltips" data-placement="top" data-original-title="자기평가"></i>&nbsp;&nbsp;자기평가 : 학습한 개념의 이해도와 메모를 남겨 스스로 피드백을 받을 수 있습니다.</li>
          <li style="color: white"><i class="fa fa-comments-o tooltips" data-toggle="tooltips" data-placement="top" data-original-title="질문하기"></i>&nbsp;&nbsp;질문하기 : 멘토 또는 선생님에게 질문하여 어려움을 해결할 수 있습니다.</li>
          <li style="color: white"><i class="fa fa-print tooltips" data-toggle="tooltips" data-placement="top" data-original-title="프린트"></i>&nbsp;&nbsp;프린트 : 개념, 개념해설, 관련개념, 개념문제를 출력할 수 있습니다.</li>
        </div>
      </div>
    </div>
  </div>

</div>