<link rel="stylesheet" href="/assets/css/pages/page_search.css">

<div class="search-block parallaxBg" style="background-position: 50% 16px;">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="margin-top-20"><i class="fa fa-video-camera margin-bottom-20"></i><br>동영상 재생 속도 조절 설정
      </h1>
    </div>
  </div>
</div>

<div class="container content-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-30">
        <h2 class="title-v2">1.</h2>
        <h4>동영상 속도 조절 기능 확장을 하시기 전에 데스크탑에 크롬 브라우저가 설치 여부를 확인해 주시기 바랍니다.<br><br>
        설치가 되어 있으면 아래의 링크를 클릭하여 크롬 웹스토어로 이동하여 주시기 바랍니다.<br><br>
        </h4>
        <h4><i class="fa fa-hand-o-right"></i><a href="https://chrome.google.com/webstore/detail/vimeo-repeat-speed/noonakfaafcdaagngpjehilgegefdima" target="_blank"> 크롬 웹스토어로 이동</a></h4>
        <h4><br>오른쪽 이미지와 같은 창이 뜨면 빨간색 동그라미로 표시된 버튼을 클릭하여 주십시오.</h4>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/faqimgs/video_speed_1.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container content-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-30">
        <h2 class="title-v2">2.</h2>
       <h4>오른쪽 이미지와 같은 팝업창이 뜨면 <span style="color: darkred">확장 프로그램 추가</span> 버튼을 클릭해 주세요.<br><br>
         프로그램 추가가 완료되면 확인을 위해 학습창 강의 동영상으로 이동해 주시기 바랍니다.
       </h4>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/faqimgs/video_speed_2.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container content-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-30">
        <h2 class="title-v2">3.</h2>
        <h4>학습창의 동영상을 보시면 오른쪽 상단의 2개의 버튼을 확인하실 수 있습니다. <br><br>
          만약, 2개의 버튼이 보이지 않는다면 새로고침 또는 크롬 브라우저를 종료 후 다시 실행시켜 주시길 바랍니다.<br><br>
          <span style="color: darkred">1x 버튼</span>의 '1x'는 현재 영상 재생 속도를 의미합니다. <br><br>
          버튼을 클릭하여 재생 속도를 변경해 보겠습니다.
        </h4>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/faqimgs/video_speed_3.png" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>

<div class="container content-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-30">
        <h2 class="title-v2">4.</h2>
        <h4>팝업창의 숫자를 1.5 또는 2 등으로 변경하신 후 확인 버튼을 누르시면 입력한 숫자의 속도로 동영상이 재생됩니다.</h4>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/faqimgs/video_speed_4.png" class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>
