<div class="breadcrumbs col-md-12 margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">토론방 개설</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li>STUDY</li>
            <li>토론방</li>
            <li class="active">토론방 개설</li>
        </ul>
    </div>
</div>

<div class="container container-fluid">
    <%= render 'form' %>
</div>