    <div class="container-fluid" style="margin-top: 50px">
        
        <div class="row">
            
            <div class="col-sm-12 col-md-12 main">
                
                <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Admin / 학교관리자 / 학원관리자 수정</h2>

                <%= render 'form' %>                    
            
            </div>
            
        </div>
    </div>