<div class="container container-fluid">

    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-12 margin-bottom-50 margin-top-20">
            <!-- Contacts -->
            <div class="sky-form">
                <%= render 'form' %>

                <footer class="text-center">
                    <%= link_to 'Show', @discussion_templet, :class => 'btn btn-vimeo rounded col-md-5 col-sm-5 col-xs-5' %>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <%= link_to 'Back', '/discussion_templets/list', :class => 'btn btn-podcast rounded col-md-5 col-sm-5 col-xs-5' %>
                </footer>

            </div>
        </div>
    </div>
</div>
