<div class="container container-fluid">

    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-12 margin-bottom-50 margin-top-20">
            <!-- Contacts -->
            <div class="sky-form">
                <%= render 'form' %>

                <footer class="text-center">
                    <%= link_to 'Back', '/mypages/discussion_topics_management', :class => 'btn btn-podcast rounded col-md-12 col-sm-12 col-xs-12' %>
                </footer>

            </div>
        </div>
    </div>
</div>
