<div class="container-fluid">
        
    <div class="row">
            
        <div class="col-sm-12 col-md-12">
                
            <h2 class="sub-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 사용자 등록</h2>

            <%= render 'form' %>                    
        
        </div>
            
    </div>
    
</div>