
<!--=== Content Part ===-->
<div class="container content">

  <div class="row">

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <div class="reg-header">
            <h2>비밀번호 찾기</h2>

          </div>

          <%= devise_error_messages! %>

          <div class="row">
            <div class="col-sm-12">
              <label style="width:100%" class="<%= 'state-error' unless resource.errors[:email].blank? %>">Email Address <span class="color-red">*</span>
                <input autofocus="autofocus" type="text" value="" name="user[email]" id="user_email" class="form-control margin-bottom-20">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 checkbox">

            </div>
            <div class="col-lg-6 text-right">
              <button class="btn-u" type="submit">보내기</button>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div><!--/container-->
<!--=== End Content Part ===-->
