/* Add here all your css styles (customizations) */

body,input,textarea,select,button,table,p{font-family:'Nanum Gothic','dotum','Verdana','Arial','Helvetica',sans-serif,'돋움',Dotum,AppleGothic}
h1,h2,h3,h4,h5,h6{font-family:'Nanum Gothic','dotum','Verdana','Arial','Helvetica',sans-serif,'돋움',Dotum,AppleGothic}
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#loading
{
    position:fixed;
    _position:absolute;
    top: 50%;
    left:47%;
    padding:2px 5px;
    z-index: 5000;
    color:#fff;
}

.watermark {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    transform: rotate(-36deg);
    top: -100px;
    position: relative;
    width: 100%;
    margin: 0;
    opacity: 0.2;
}