/* Add here all your css styles (customizations) */

#loading
{
    position:fixed;
    _position:absolute;
    top: 50%;
    left:47%;
    padding:2px 5px;
    z-index: 5000;
    color:#fff;
}

.watermark {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    transform: rotate(-36deg);
    top: -100px;
    position: relative;
    width: 100%;
    margin: 0;
    opacity: 0.2;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px gray; 
    -webkit-box-shadow: 3px 3px 4px gray; 
    box-shadow: 3px 3px 4px gray; 
}

.news-v3 .posted-info li a {
  color: #555;
}



.unify_a {
    color: #555;
}

a.unify_a:hover {
  color: #72c02c;
  text-decoration: none;
}

.new_row {
    display: flex;
}

.payment_dt {
    text-align: right !important;
    line-height: 2.3;
}

.payment_dd {
    padding-right: 20px;
}

/* -------- tree view ------------ */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
/*    color:#369;
    font-weight:700;*/
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


/* -------- tree2 view ------------ */
.tree2, .tree2 ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree2 ul {
    margin-left:2em;
    position:relative
}
.tree2 ul ul {
    margin-left:2em
}
.tree2 ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:3px solid
}
.tree2 li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    /*    color:#369;
        font-weight:700;*/
    position:relative
}
.tree2 ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:3px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree2 ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree2 li a {
    text-decoration: none;
    color:#369;
}
.tree2 li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


/* -------- tree3 view ------------ */
.tree3, .tree3 ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree3 ul {
    margin-left:1em;
    position:relative
}
.tree3 ul ul {
    margin-left:1em
}
.tree3 ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:3px solid
}
.tree3 li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    /*    color:#369;
        font-weight:700;*/
    position:relative
}
.tree3 ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:3px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree3 ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree3 li a {
    text-decoration: none;
    color:#369;
}
.tree3 li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


/* 학습창 */
#concept_main img, #concept_desc img, #concept_exercise img, #concept_video img {
    width:100%;
    margin-top: 10px;
}

#ms-my-select {
    width: 100% !important;
}