/* Add here all your css styles (customizations) */

/* Common */
body,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div,img{margin:0;padding:0}
body,input,textarea,select,button,table,p{font-family:'Nanum Gothic','dotum','Verdana','Arial','Helvetica',sans-serif,'돋움',Dotum,AppleGothic}
h2,h3,h4,h5,h6{font-family:'Nanum Gothic','dotum','Verdana','Arial','Helvetica',sans-serif,'돋움',Dotum,AppleGothic}

legend{position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
ul,ol{list-style:none;margin:0;padding:0}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{font-family: 'Nanum Gothic', monospace;}


/*기본설정(초기화)*/
body{font-family:'Nanum Gothic','dotum','Verdana','Arial','Helvetica',sans-serif,'돋움',Dotum,AppleGothic}
h2{font-size:38px;color:#222;font-weight:700}
h3{font-size:32px;color:#444;font-weight:600;line-height:50px;!important;}
h4{font-size:25px;color:#555;line-height:36px;!important;font-weight:500;}
p{line-height:32px;!important;font-size:20px;color:#777}
.content-sm, .container  {margin-top:0;padding-top:0 ;margin-bottom:0px;padding-bottom:0px;!important;}
.margin-bottom-40 {margin-top:0;padding-top:0 ;margin-bottom:0px;padding-bottom:0px;!important;}
.margin-bottom-50{margin-top:0;padding-top:0 ;margin-bottom:0px;padding-bottom:0px;!important;}
.breadcrumbs{margin-bottom:30px}

/* 추가 */
th{font-size: 20px; color: #696f77; text-align: center;}

/*블릿*/
.txt h3{background:url(/assets/img/subimg/bullet01.jpg) left 20px  no-repeat;padding-left:30px;}
.txt h4{background:url(/assets/img/subimg/bullet02.jpg) left 12px  no-repeat;padding-left:30px;}



/*상단주석 파란색으로 들어갈때*/
.top_blue{color:#2692d0;}

/*배경파란색일때*/
.bg_blue{background-color:#2692d0}
.white_txt{color:#fff}/*배경파란색일때 텍스트컬러*/

/*상하간격조정*/
.pTxtMarg{margin-top:40px;}
.pTxtMarg2{margin-top:40px;margin-bottom:40px;}
.interval01{padding-top:70px;padding-bottom:70px}
.interval02{padding-bottom:70px}
.interval03{margin-top:20px}
.interval04{margin-bottom:20px;}


/*안으로 들여쓰기 */

.indent{padding-left:30px}

/*좌우간격조정*/
@media (max-width: 780px){
.Whotex, .Whotex1 {
    clear: both;
    padding: 15px 15px;
	}
}



/*p*/
.top10{margin-top:10px}
.top20{margin-top:20px}

/************************************************************************/


/*자기주도학습*/

.col-right{float:right}
.self01{font-size:22px;line-height:36px;}
.self04 ul li{color:#fff;background:url(/assets/img/subimg/w_self.gif) left 12px no-repeat;padding-left:30px}
.interval-top{padding-top:40px;margin-top:30px}


@media (min-width: 780px) {
  .col-sm-6 {
    width:50%;
	float: left;
	 }
 }

.col-right{float:right;}

@media (min-width: 560px) {
  .col-right {
    width:100%;
	float: left;

	 }
 }
@media (min-width: 990px) {
  .col-right {
    width:50%;
	float: right;
	 }
 }


/*1단계*/
.content02{margin:70px 0;}
.container .white_txt p{color:#fff; }
.indent span{color:#2692d0;font-weight:bold}

/*2단계*/
@media (min-width: 992px){
.col-md-600 {width: 60%;}
.col-md-6-1{width: 40%;}
.toPart .col-md-600{margin-top:40px;}
.toPart .col-md-6-1 img{width:85%;}
}

.col-md-600{margin-bottom:70px;}
h3.top-1{margin-top:70px}
.supo p{margin:15px 0;}
.supo h4{margin:10px 0;padding:0;font-weight:500;color:#555;padding-left:30px;line-height:33px;!important;font-size:20px;background:url(/assets/img/subimg/bullet02.jpg) left 12px  no-repeat;}
.supo h5{margin:10px 0;padding:0;font-weight:600;color:#555;padding-left:30px;line-height:33px;!important;font-size:22px;background:url(/assets/img/subimg/caption_img.jpg) left 12px  no-repeat;}
.toPart2{margin-bottom:100px;}



/*3단계*/
.box01{margin:20px 0;padding:10px ;border:1px  solid #ccc;margin-bottom:30px}
h5{font-weight:600;color:#2692d0;padding-left:30px;line-height:32px;!important;font-size:20px;color:#666;background:url(/assets/img/subimg/caption_img.jpg) left 12px  no-repeat;}
h5{padding-bottom:20px;}
.img-right{float:right;}
.img-responsive{margin:0 auto;text-align:center;!important;border:0px solid red;}
.boxgroup{margin:0; padding:0;}
.boxgroup .box-img img{margin:20px auto;padding:10px}
.boxgroup .box-txt{padding-left:20px;padding-top:40px}






/*4단계*/
.interval05{padding-top:50px;padding-bottom:70px}
.service-block{background:#fdfdfd}
.service-block02{background: #fdfdfd}
.service-block03{background: #fdfdfd}

@media (min-width: 992px) {
	.col-md-40 {
		width: 33.33333333%;
		float: left;;
	!important;
	}
}

.col-md-40 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	;!important;
}







/*5단계*/
.step05_txt02{font-size:22px;line-height:38px;!important;font-weight:bold;background:url(/assets/img/subimg/bullet02.jpg) left 15px  no-repeat;padding-left:30px}
table.type01{margin-top:30px}
.type02{margin-top:70px;}
.type03{margin-top:40px}


/*아르키메데스이야기*/

.archB{margin:0; padding:0;}
.archB .archIm1 img,.archB .archIm2 img,.archB .archIm3 img{margin:0 auto;}
.archIm1T p{margin:40px 0 20px 0;}
.archIm3T p{margin-bottom:200px;}

@media (min-width: 992px){
	.col-left{float:left;}
	.Order-ch1{width: 40%;}
	.Order-ch2{width: 60%;}
	.CleaBo{clear:both;}

	.archIm1{padding-top:100px;}
	.archIm2{padding-top:10px;}
	.archIm2T p{padding:30px 0;}
	.archIm3T p{padding:50px 0;}

}

@media (max-width: 780px){
.archB{margin:0; padding:0;}
.archIm1{margin-top:40px;}
.archIm1T,.archIm2T,.archIm3T{margin:20px 0; padding:0 15px;}
.archB .archIm2 img,.archB .archIm3 img{margin:40px auto;}
}



/*How*/

.howOpen{display:inline-block; padding-left:30px;}
.hopTxt{margin:30px 0; padding-left:30px;}

.zoneHow .joZo{margin:0; padding:0;}

@media (min-width: 990px){
.howOpen .container{background:url(/assets/img/howerk.jpg) 510px 35px no-repeat;}
.zoneHow .joZo{
	width:32%;
	margin-right:1%;
	}
.zoneHow .bTabox{padding-bottom:160px;}
.payMent{padding-left:80px;}
}
.zoneHow h3{background:url(/assets/img/subimg/bullet01.jpg) left 20px  no-repeat;padding-left:30px;}
.zoneHow .joZo{border:1px solid #dfdfdf;}
.joZo h4{font-size:20px;padding:5px 0;}
h4.bBoxT1{color:#fff;background:#5b94c5; text-align:center;}
h4.bBoxT2{background:#e5f3df; text-align:center;}
h4.bBoxT3{background:#d9edf7; text-align:center;}
.zoneHow .joZo ul{margin:15px;padding:0;}
.zoneHow .joZo ul li{font-size:17px;line-height:33px;border-bottom:1px dashed #dfdfdf;}
.spNbsp{padding-left:80px;}


.freehS{margin:0;padding:0;}
.freehS p{margin:0; padding-left:30px;line-height:36px;}




/**/
.img-dream{border:2px dashed #ccc;padding:20px;margin-bottom:40px}
.pTxtMarg03{margin-bottom:40px}




