
@media (min-width: 992px) {
    .col-md-40 {
        width: 33.33333333%;
        float: left;;
    !important;
    }
}

.col-md-40 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	;!important;
}


/*모토*/


.bg-back{

}