        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">
            <img class="img-responsive profile-img margin-bottom-20" src="/assets/img/team/img32-md.jpg" alt="">

            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
              <li class="list-group-item <%= 'active' if @click == 'evaluation'%>">
                <a href="/mypages/evaluation"><i class="fa fa-cubes"></i>&nbsp;Evaluation</a>
              </li>
              <% unless current_user.user_types[0].user_type != 'student' %>
                <li class="list-group-item <%= 'active' if @click == 'question_list'%>">
                  <a href="/mypages/question_list"><span class="glyphicon glyphicon-list"></span>&nbsp;Question List</a>
                </li>
              <% end %>
              <% unless current_user.user_types[0].user_type != 'school teacher' %>
                  <li class="list-group-item <%= 'active' if @click == 'question_list'%>">
                    <a href="/mypages/question_list"><span class="glyphicon glyphicon-list"></span>&nbsp;Question List</a>
                  </li>
              <% end %>
              <li class="list-group-item <%= 'active' if @click == 'user_info'%>">
                <a href="/mypages/user_info"><i class="fa fa-user"></i>&nbsp;User Info</a>
              </li>
            </ul>
        </div>
        <!--End Left Sidebar-->