<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">
    <h2 class="pull-left">My page</h2>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<!-- 학생 정보 -->
<div class="container content profile">
    <div class="row">

      <%= render :partial=>"left_sidebar"%>

      <div class="col-md-9 tag tag-box-v3">
        <!-- info -->
        <div class="mypStuInfo">
          <form action="#" id="sky-form2" class="sky-form">
            <header>학생</header>
            <fieldset>
              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    First name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="First name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Last name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Last name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Username
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Username">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Email address
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Email address">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Location
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Location">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    핸드폰번호
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="핸드폰번호">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>
              </fieldset>
          </form>
        </div>
        <!--End info(학생) -->

        <hr>

        <!--회원님과의 관계(학생) -->
        <div class="yoUrelat table-search-v1 doSampo">
          <p>* 회원님과의 관계</p>

          <!--Table-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="20%">
              <col width="40%">
              <col width="40%">
            </colgroup>
            <tr>
              <td>부모</td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue" data-toggle="modal" data-target="#myModal">추가</button>
                <button type="button" class="btn-u btn-u-default" data-toggle="modal" data-target="#myModaldel">삭제</button>
                <button type="button" class="btn-u btn-u-green" data-toggle="modal" data-target="#myModalInv"> 회원초청 </button>
              </td>
            </tr>
            <tr>
              <td>부모</td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue">추가</button>
                <button type="button" class="btn-u btn-u-default">삭제</button>
              </td>
            </tr>
            <tr>
              <td>부모</td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue">추가</button>
                <button type="button" class="btn-u btn-u-default">삭제</button>
              </td>
            </tr>
            <tr>
              <td>부모</td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue">추가</button>
                <button type="button" class="btn-u btn-u-default">삭제</button>
              </td>
            </tr>
          </table>
          <!--End Table-->
        </div>
        <!--End 회원님과의 관계(학생) -->


        <!--결제내역(학생) -->
        <div class="yoUrelat mypaStyt1 table-search-v1">
          <p>* 귀하의 결제내역 입니다.</p>

          <!--Table Bordered-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="10%">
              <col width="15%">
              <col width="30%">
              <col width="30%">
              <col width="15%">
            </colgroup>
            <tr>
              <td>순번</td>
              <td>결재일</td>
              <td>결제방법</td>
              <td>결제기간</td>
              <td rowspan="6" class="taRowSum">상품선택 및 결재하기</td>
            </tr>
            <tr>
              <td>1</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>

            </tr>
            <tr>
              <td>2</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>


            </tr>
            <tr>
              <td>3</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>


            </tr>
            <tr>
              <td>4</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>


            </tr>
            <tr>
              <td>5</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>


            </tr>
          </table>
        </div>
        <!--End 결제내역(학생)-->
      </div>


      <!-- 부모 정보 -->
      <div class="col-md-9 tag tag-box-v3">
        <!-- info -->
        <div class="mypStuInfo">
          <form action="#" id="sky-form2" class="sky-form">
            <header>부모</header>
            <fieldset>
              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    First name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="First name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Last name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Last name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Username
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Username">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Email address
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Email address">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Location
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Location">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    핸드폰번호
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="핸드폰번호">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>
              </fieldset>
          </form>
        </div>
        <!--End info(부모) -->


        <!--회원님과의 관계(부모) -->
        <div class="yoUrelat table-search-v1 doSampo">
          <p>* 회원님과의 관계</p>

          <!--Table-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="20%">
              <col width="40%">
              <col width="40%">
            </colgroup>
            <tr>
              <td>학생이름</td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue" data-toggle="modal" data-target="#myModal2">추가</button>
                <button type="button" class="btn-u btn-u-default" data-toggle="modal" data-target="#myModaldel2">삭제</button>
                <button type="button" class="btn-u btn-u-green" data-toggle="modal" data-target="#myModalInv2"> 회원초청 </button>
              </td>
            </tr>
            <tr>
              <td>학생이름</td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue">추가</button>
                <button type="button" class="btn-u btn-u-default">삭제</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue">추가</button>
                <button type="button" class="btn-u btn-u-default">삭제</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>(Username)</td>
              <td>
                <button type="button" class="btn-u btn-u-dark-blue">추가</button>
                <button type="button" class="btn-u btn-u-default">삭제</button>
              </td>
            </tr>
          </table>
          <!--End Table-->
        </div>
        <!--End 회원님과의 관계(부모) -->


        <!--결제내역(부모) -->
        <div class="yoUrelat mypaStyt1 table-search-v1">
          <p>자녀 <span class="btn btn-default PaystuN">유래카 </span> 의 결제내역 입니다.</p>

          <!--Table Bordered-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="10%">
              <col width="15%">
              <col width="30%">
              <col width="30%">
              <col width="15%">
            </colgroup>
            <tr>
              <td>순번</td>
              <td>결재일</td>
              <td>결제방법</td>
              <td>결제기간</td>
              <td rowspan="6" class="taRowSum">상품선택 및 결재하기</td>
            </tr>
            <tr>
              <td>1</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>
            </tr>
            <tr>
              <td>2</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>
            </tr>
            <tr>
              <td>3</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>

            </tr>
            <tr>
              <td>4</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>

            </tr>
            <tr>
              <td>5</td>
              <td>/</td>
              <td>결제방법</td>
              <td>결제기간</td>
            </tr>
          </table>
        </div>
        <!--End 결제내역(부모)-->


      </div> <!-- 부모 정보 END-->


      <!-- 학교 교사 정보 -->
      <div class="col-md-9 tag tag-box-v3">
        <!-- info -->
        <div class="mypStuInfo">
          <form action="#" id="sky-form2" class="sky-form">
            <header>학교교사</header>
            <fieldset>
              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    First name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="First name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Last name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Last name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Username
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Username">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Email address
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Email address">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Location
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Location">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    핸드폰번호
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="핸드폰번호">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>
              </fieldset>
          </form>
        </div>
        <!--End info(학교교사) -->




        <!-- 그룹(학교교사) -->
        <div class="yoUrelat mypaStyt1 table-search-v1">


          <!--Table Bordered-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="15%">
              <col width="30%">
              <col width="15%">
              <col width="10%">
            </colgroup>
            <tr>
              <td>순번</td>
              <td>그룹명</td>
              <td>성명</td>
              <td>username</td>
              <td>이메일</td>
              <td>그룹지정</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default" data-toggle="modal" data-target="#myModaldel3">삭제</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default">삭제</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default">삭제</button></td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <div class="bigButSty">
            <button type="button" class="btn-u btn-u-green btn-u-lg" data-toggle="modal" data-target="#myModalInv3"> 학생초청 </button>
          </div>
        </div>
      </div><!-- 학교 교사 정보 END-->


      <div class="col-md-9 tag tag-box-v3">
        <!-- info -->
        <div class="mypStuInfo">
          <form action="#" id="sky-form2" class="sky-form">
            <header>학원교사</header>
            <fieldset>
              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    First name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="First name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Last name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Last name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Username
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Username">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Email address
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Email address">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Location
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Location">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    핸드폰번호
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="핸드폰번호">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>
              </fieldset>
          </form>
        </div>
        <!--End info(학원교사) -->




        <!-- 그룹(학원교사) -->
        <div class="yoUrelat mypaStyt1 table-search-v1">


          <!--Table Bordered-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="15%">
              <col width="30%">
              <col width="15%">
              <col width="10%">
            </colgroup>
            <tr>
              <td>순번</td>
              <td>그룹명</td>
              <td>성명</td>
              <td>username</td>
              <td>이메일</td>
              <td>그룹지정</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default" data-toggle="modal" data-target="#myModaldel3">삭제</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default">삭제</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default">삭제</button></td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <div class="bigButSty">
            <button type="button" class="btn-u btn-u-green btn-u-lg" data-toggle="modal" data-target="#myModalInv3"> 학생초청 </button>
          </div>
        </div>
        <!--End 그룹(학원교사)-->
      </div>


      <!-- 멘토 정보 -->
      <div class="col-md-9 tag tag-box-v3">
        <!-- info -->
        <div class="mypStuInfo">
          <form action="#" id="sky-form2" class="sky-form">
            <header>멘토</header>
            <fieldset>
              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    First name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="First name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Last name
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Last name">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Username
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Username">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Email address
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Email address">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    Location
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="Location">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>

              <div class="row">
                <section class="col col-3">
                  <label class="input">
                    핸드폰번호
                  </label>
                </section>
                <section class="col col-4">
                  <label class="input">
                    <input type="text" placeholder="핸드폰번호">
                  </label>
                </section>
                <section class="col">
                  <button type="submit" class="btn-u btn-u-blue">수정</button>
                </section>
              </div>
              </fieldset>
          </form>
        </div>
        <!--End info(멘토) -->




        <!-- 그룹(멘토) -->
        <div class="yoUrelat mypaStyt1 table-search-v1">


          <!--Table Bordered-->
          <table class="table table-bordered" width="100%">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="15%">
              <col width="30%">
              <col width="15%">
              <col width="10%">
            </colgroup>
            <tr>
              <td>순번</td>
              <td>그룹명</td>
              <td>성명</td>
              <td>username</td>
              <td>이메일</td>
              <td>그룹지정</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default" data-toggle="modal" data-target="#myModaldel4">삭제</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default">삭제</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn-u btn-u-default">삭제</button></td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <div class="bigButSty">
            <button type="button" class="btn-u btn-u-green btn-u-lg" data-toggle="modal" data-target="#myModalInv4"> 학생초청 </button>
          </div>
        </div>
        <!--End 그룹(멘토)-->
      </div>
      <!-- 멘토 정보 END -->


    </div><!-- row -->
</div><!--/container-->
<!-- 학생정보 END -->




<!-- 학생 부분 모달-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">회원님께서는 부모(선생님,멘토)의 관계의 맺기를 원하십니다. 부모님께 이메일을 보내야 합니다.</h4>
      </div>

      <div class="modal-body ">

        <form class="sky-form " >
          <header class="hidden">Responsive grid system</header>
          <fieldset>
            <div class="row form-group">
              <section class="col col-5">
                <label class="input">
                  부모님 이메일 주소
                </label>
              </section>
              <section class="col col-5">
                <label class="input">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" E-mail">
                </label>
              </section>
              <section class="col col-2">
                <button type="submit" class="btn-u btn-u-dark-blue">추가</button>
              </section>
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>
<!-- 	End Modal(학생추가) -->

<!-- Modal (학생 삭제) ------------>

<div class="modal fade" id="myModaldel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">안녕하세요. 부모(선생님, 멘토)님<br/> 귀하의 학생 <span class="PaystuN2">유래카</span>가 부모(선생님, 멘토)의 관계를 삭제하였습니다.</h4>
      </div>


    </div>
  </div>
</div>
<!-- 	End Modal(학생삭제) -->

<!-- Modal (학생 회원초청) ------------>

<div class="modal fade" id="myModalInv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">회원님께서는 부모님을 회원으로 초청하려고 합니다. 부모님께 이메일을 보내야 합니다.</h4>
      </div>

      <div class="modal-body ">

        <form class="sky-form " >
          <header class="hidden">Responsive grid system</header>
          <fieldset>
            <div class="row form-group">
              <section class="col col-5">
                <label class="input">
                  부모님 이메일 주소
                </label>
              </section>
              <section class="col col-5">
                <label class="input">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" E-mail">
                </label>
              </section>
              <section class="col col-2">
                <button type="submit" class="btn-u btn-u-dark-blue">초청</button>
              </section>
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>
<!-- 	End Modal(학생 회원초청) -->
<!-- 학생 부분 모달 END -->


<!-- 부모 부분 모달 -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">회원님께서는 부모-학생의 관계의 맺기를 원하십니다. 학생에게 이메일을 보내야 합니다.</h4>
      </div>

      <div class="modal-body ">

        <form class="sky-form " >
          <header class="hidden">Responsive grid system</header>
          <fieldset>
            <div class="row form-group">
              <section class="col col-5">
                <label class="input">
                  학생 이메일 주소
                </label>
              </section>
              <section class="col col-5">
                <label class="input">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" E-mail">
                </label>
              </section>
              <section class="col col-2">
                <button type="submit" class="btn-u btn-u-dark-blue">추가</button>
              </section>
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>
<!-- 	End Modal(부모추가) -->

<!-- Modal (부모 삭제) ------------>

<div class="modal fade" id="myModaldel2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">안녕하세요. <span class="PaystuN2">유래카</span>님<br/> 귀하의 부모 <span class="PaystuN2">유래카</span>가 부모-학생의 관계를 삭제하였습니다.</h4>
      </div>
    </div>
  </div>
</div>
<!-- 	End Modal(부모삭제) -->

<!-- Modal (부모 회원초청) ------------>

<div class="modal fade" id="myModalInv2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">회원님께서는 학생을 회원으로 초청하려고 합니다. 학생에게 이메일을 보내야 합니다.</h4>
      </div>

      <div class="modal-body ">

        <form class="sky-form " >
          <header class="hidden">Responsive grid system</header>
          <fieldset>
            <div class="row form-group">
              <section class="col col-5">
                <label class="input">
                  학생 이메일 주소
                </label>
              </section>
              <section class="col col-5">
                <label class="input">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" E-mail">
                </label>
              </section>
              <section class="col col-2">
                <button type="submit" class="btn-u btn-u-dark-blue">초청</button>
              </section>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 	End Modal(부모 회원초청) -->

<!-- 부모 부분 모달 END -->


<!-- 학교 교사 부분 모달 END-->

<div class="modal fade" id="myModaldel3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">안녕하세요. <span class="PaystuN2">유래카</span>님<br/> 귀하의 선생님 <span class="PaystuN2">유래카</span>가 학생을 삭제하였습니다.</h4>
      </div>
    </div>
  </div>
</div>
<!-- 	End Modal(학교교사삭제) -->

<!-- Modal (학교교사 추가) ------------>

<div class="modal fade" id="myModalInv3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">선생님께서는 학생을 초청하기를 원합니다. 학생에게 이메일을 보내야 합니다.</h4>
      </div>

      <div class="modal-body ">

        <form class="sky-form " >
          <header class="hidden">Responsive grid system</header>
          <fieldset>
            <div class="row form-group">
              <section class="col col-5">
                <label class="input">
                  학생 이메일 주소
                </label>
              </section>
              <section class="col col-5">
                <label class="input">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" E-mail">
                </label>
              </section>
              <section class="col col-2">
                <button type="submit" class="btn-u btn-u-dark-blue">추가</button>
              </section>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 학교 교사 부분 모달 END-->


<!-- 멘토 부분 모달 -->

<div class="modal fade" id="myModaldel4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">안녕하세요. <span class="PaystuN2">유래카</span>님<br/> 귀하의 멘토 <span class="PaystuN2">유래카</span>가 학생을 삭제하였습니다.</h4>
      </div>
    </div>
  </div>
</div>
<!-- 	End Modal(멘토 삭제) -->

<!-- Modal (멘토 추가) ------------>

<div class="modal fade" id="myModalInv4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content MpMoch1">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">멘토께서는 학생을 초청하기를 원합니다. 학생에게 이메일을 보내야 합니다.</h4>
      </div>

      <div class="modal-body ">

        <form class="sky-form " >
          <header class="hidden">Responsive grid system</header>
          <fieldset>
            <div class="row form-group">
              <section class="col col-5">
                <label class="input">
                  학생 이메일 주소
                </label>
              </section>
              <section class="col col-5">
                <label class="input">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" E-mail">
                </label>
              </section>
              <section class="col col-2">
                <button type="submit" class="btn-u btn-u-dark-blue">추가</button>
              </section>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 멘토 부분 모달 END -->




