<!--=== Footer ===-->
<div id="footer-default" class="footer-default">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
          <!-- About -->
          <div class="headline"><h2>About</h2></div>
          <p class="margin-bottom-25 md-margin-bottom-40">유레카매스는 온라인 중・고등 수학학습서비스를 제공하는 회사입니다</p>
          <!-- End About -->

          <!-- Contact Us -->
          <div class="headline"><h2>Contact Us</h2></div>
          <div class="md-margin-bottom-40">
            상호명 : (주)유레카매스(Eureka Math)<br/>
            대표자명 : 김용록 <br/>
            사업자등록번호 : 795-87-00128 <br/>
            경기도 성남시 분당구 매화로 50 송림프라자 303호 (우편번호 : 135-04 / 舊  야탑동 290-4 번지 )<br/>
            Tel : 031-708-2400 <br/>
            Fax : 031-708-0057 <br/>
            E-mail : info@eurekamath.co.kr <br/>
          </div>
          <!-- End Contact Us -->
        </div><!--/col-md-6-->

        <div class="col-md-6 md-margin-bottom-40">
          <div class="headline"><h2>찾아오시는 길</h2></div>
          지하철 : 야탑역 2번 출구에서 도보 약 500m <br/>
          버스 :
          <li style="color: lightgrey;">탑어린이공원 - 일반버스: 2-1, 33</li>
          <li style="color: lightgrey;">탑마을주공8단지 - 일반버스: 33-1, 50, 57, 200, 222, 720, 720-1, 마을버스: 8, 8-1, 812</li>

          <a href="https://www.google.co.kr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%84%B1%EB%82%A8%EC%8B%9C%20%EB%B6%84%EB%8B%B9%EA%B5%AC%20%EB%A7%A4%ED%99%94%EB%A1%9C%2050" target="_blank"><img src="/assets/img/map.jpg"  class="img-responsive margin-top-20" alt="Eureka Math" /></a>

        </div><!--/col-md-6-->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Copyright @ 2016 Eureka Math. All Rights Reserved - Math Fun Dream
            <a href="/homes/access_terms">이용약관</a> | <a href="/homes/personal_info_protection">개인정보보호</a>
          </p>
        </div>
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer ===-->