<link rel="stylesheet" href="/assets/css/sub/step.css">
<link rel="stylesheet" href="/assets/css/sub/step2.css">


<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="padding-top: 15px; padding-bottom: 15px;">학습실행</h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">학습실행</li>

    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->


<!--=== 1단 ===-->
<div class="container content-sm ">
  <div class="interval04 txt">
    <h3> 학습 순서</h3>
  </div>

  <!-- Service Blcoks -->
  <div class="row service-box-v1 margin-bottom-40 ">
    <div class="col-md-4 interval04">
      <div class="service-block service-block-default no-margin-bottom service-block">
        <!--i class="icon-lg rounded-x icon icon-badge"></i-->
        <h2 class="heading-sm">01.개념학습</h2>

        <ul class="list-unstyled">
          <li>학습 수준(level 1, 2, 3) 선택</li>
          <li>단위개념 학습</li>
          <li>단위개념 해설학습</li>
          <li>* 관련 하위개념 학습과 병행</li>
          <li>동영상 강의 시청</li>
          <li>자기평가</li>
          <li>단위개념exercise 문제풀이</li>
        </ul>
      </div>
    </div>


    <div class="col-md-4  md-margin-bottom-40 interval04">
      <div class="service-block service-block-default no-margin-bottom service-block02">
        <!--i class="icon-lg rounded-x icon-line icon-trophy"></i-->
        <h2 class="heading-sm">02.개념문제풀이</h2>

        <ul class="list-unstyled">
          <li>문제풀이 수준(level 1,2,3) 선택</li>
          <img width="110%" height="110%" class="text-center" style="padding-top: 30px; padding-bottom: 35px" src="/assets/img/subimg/bookman.jpg">
        </ul>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col03 interval04" >
      <div class="service-block service-block-default no-margin-bottom service-block03">
        <!--i class="icon-lg rounded-x icon-line icon-layers"></i-->
        <h2 class="heading-sm">03.학업성취도 평가,분석,진단 </h2>
        <img width="60%" height="60%" class="text-center" style="padding-top: 32px;" src="/assets/img/subimg/girl.png">
      </div>
    </div>
  </div>
  <!-- End Service Blcoks -->
</div>
<!--=== 1단 end ===-->




<!--=== 2단  ===-->
<div class="process-v1 bg-color-white content-sm ">
  <div class="container content-sm interval05">
    <div class=" margin-bottom-50  txt">
      <h3 class="interval04">학습내용의 기본구조 : 1000여개의 단위개념</h3>
      <h4>학습내용</h4>
      <p class="top10"> - 단위개념, 단위개념별 exercise, 개념별 유형문제, 소단원별 종합문제</p>
    </div>

    <div class="row pie-progress-charts margin-bottom-50 margin-top-20 ">
      <div class="inner-pchart col-md-3 col-xs-6">
        <div class="circle" id="circles-1"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#D3B6C6" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"></path><path fill="transparent" stroke="#9B6BCC" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 52.91551060221643 136.85147883193775 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">54</span></span><span class="circles-text">%</span></div></div></div>
        <h3 class="circle-title">단원</h3>
      </div>
      <div class="inner-pchart col-md-3 col-xs-6">
        <div class="circle" id="circles-2"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#C9FF97" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 19.730006348346947 117.26444475779613 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">63</span></span><span class="circles-text">%</span></div></div></div>
        <h3 class="circle-title">소단원</h3>
      </div>
      <div class="inner-pchart col-md-3 col-xs-6">
        <div class="circle" id="circles-3"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#BEE3F7" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"></path><path fill="transparent" stroke="#3498DB" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 2.2364051601485784 83.0036615758971 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">72</span></span><span class="circles-text">%</span></div></div></div>
        <h3 class="circle-title">개념</h3>
      </div>
      <div class="inner-pchart col-md-3 col-xs-6">
        <div class="circle" id="circles-4"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#FFC2BB" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"></path><path fill="transparent" stroke="#E74C3C" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 5.83060525000252 44.63686183811247 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">81</span></span><span class="circles-text">%</span></div></div></div>
        <h3 class="circle-title">단위개념</h3>
      </div>
    </div>


    <div class=" txt">
      <h4>다양한 학습도구 : 웹강의, 동영상강의, 화상강의, 교재프린트출력</h4>
      <h4 class="interval03">anytime, anywhere, anydevice</h4>
      <h4 class="interval03">반복학습</h4>
    </div>
  </div><!--/end container-->
</div>
<!--=== 2단 end ===-->




<!--=== 3 단 ===-->
<div class="container content content-sm">
  <div class=" interval02">
    <div class=" margin-bottom-50  txt">
      <div class="margin-top-20">
      <h3 >효과적인 학습태도</h3>
      <h4 class="interval03">노력(effort) : 자기주도학습</h4>
      <h4 class="interval03">IT(Internet Telecomunication)기기에 대한 인식의 전환</h4>
      <p class="indent top10"><span>컴퓨터 사용에 대한 인식의 전환</span><br/>
        컴퓨터는 게임을 위한 오락기기가 아닌 정보의 도서관, 생활의 도구, 문화의 도구라는 인식의 전환이 필요.미래의 교육은 디지털교육으로 바뀌어 가는 것이
        대세인데 언제까지 컴퓨터, 테블릿PC, 스마트폰을 교육과 분리시킬 것인가</p>
    </div>
    </div>
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== 3단 end ===-->

