<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="font-weight:bold; font-size:30px; color:black; padding-top: 15px; padding-bottom: 15px;">교육(학습)평가</h2>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->


<!--=== 1단 ===-->
<div class="container content-sm">
  <div class="col-md-12">
    <br/><br/>
    <h1><img src="/assets/img/subimg/bullet01.jpg"/> &nbsp;학습 평가</h1><br/>
    <h4>- 이름 : 홍길동</h4><br/>

    <div class="col-md-12 no-padding no-margin">
      <div class="panel panel-dark-blue">
        <div class="panel-heading">
          <h3 style="color: white;">&nbsp;총괄학습평가</h3>
        </div>
        <div class="panel-body no-padding text-center">
          <table class="table table-bordered">
            <thead>
            <tr style="font-size: 20px;">
              <th style="text-align: center;">소단원</th>
              <th style="text-align: center;">개념완료</th>
              <th style="text-align: center;">학습중</th>
              <th style="text-align: center;">비고</th>
            </tr>
            </thead>
            <tbody style="font-size: 17px;">
            <tr>
              <td>2</td>
              <td>10</td>
              <td>2</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h4>- 학급완료 소단원 평가 </h4>
    <h4>- 소단원명 : </h4><br/><br/>
  </div>



  <div class="col-md-12">
    <br/><br/>
    <h1><img src="/assets/img/subimg/bullet01.jpg"/> &nbsp;개념 평가 : (수준:중급) </h1><br/>
    <h4>- 학습수준 : 초급 </h4><br/>

    <div class="col-md-12 no-padding no-margin">
      <div class="panel panel-dark-blue margin-bottom-40">
        <div class="panel-heading">
          <h3 style="color: white;">&nbsp;단위개념표</h3>
        </div>
        <div class="panel-body no-padding no-margin">
          <table class="table table-bordered text-center">
            <thead>
            <tr style="font-size: 20px;">
              <th rowspan="2" style="text-align: center; vertical-align: top;">단위개념</th>
              <th rowspan="2" style="text-align: center; vertical-align: top;">수준</th>
              <th colspan="2"style="text-align: center; ">자기평가</th>
              <th style="text-align: center;">Exercise</th>
              <th rowspan="2" style="text-align: center; vertical-align: top;">비고</th>
            </tr>
            <tr style="font-size: 20px;">
              <td>○ △ X</td>
              <td>comment</td>
              <td>맞은개수/전체</td>
            </tr>
            </thead>
            <tbody style="font-size: 17px;">
            <tr>
              <td>2</td>
              <td>1</td>
              <td>X</td>
              <td>조금 어렵다..</td>
              <td>2/5</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>1</td>
              <td>○</td>
              <td>이해 쏙쏙 잘된다!</td>
              <td>5/5</td>
              <td></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 no-padding no-margin">
      </br>
      <div class="panel panel-dark-blue margin-bottom-40">
        <div class="panel-heading">
          <h3 style="color: white;">&nbsp;유형문제표</h3>
        </div>
        <div class="panel-body no-padding no-margin">
          <table class="table table-bordered text-center">
            <thead>
            <tr style="font-size: 20px;">
              <th rowspan="2" style="text-align: center; vertical-align: top;">단위개념</th>
              <th rowspan="2" style="text-align: center; vertical-align: top;">수준</th>
              <th colspan="2"style="text-align: center; ">자기평가</th>
              <th style="text-align: center;">Exercise</th>
              <th rowspan="2" style="text-align: center; vertical-align: top;">비고</th>
            </tr>
            <tr style="font-size: 20px;">
              <td>○ △ X</td>
              <td>comment</td>
              <td>맞은개수/전체</td>
            </tr>
            </thead>
            <tbody style="font-size: 17px;">
            <tr>
              <td>3</td>
              <td>2</td>
              <td>△</td>
              <td>문제 풀기에 개념 이해가 부족한 것 같다..</td>
              <td>4/10</td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td>2</td>
              <td>○</td>
              <td>문제가 술술 풀린다!</td>
              <td>9/10</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br/><br/>
    <h1><img src="/assets/img/subimg/bullet01.jpg"/> &nbsp;종합문제평가</h1><br/>
    <h4>- 학습수준 : 초급 </h4>
    <div class="col-md-12 no-padding no-margin">
      </br>
      <div class="panel panel-dark-blue margin-bottom-40">
        <div class="panel-heading">
          <h3 style="color: white;">&nbsp;종합문제평가표</h3>
        </div>
        <div class="panel-body no-padding no-margin">
          <table class="table table-bordered text-center">
            <thead>
            <tr style="font-size: 20px;">
              <th rowspan="2" style="text-align: center; vertical-align: top;">단위개념</th>
              <th rowspan="2" style="text-align: center; vertical-align: top;">수준</th>
              <th colspan="2"style="text-align: center; ">자기평가</th>
              <th style="text-align: center;">Exercise</th>
              <th rowspan="2" style="text-align: center; vertical-align: top;">비고</th>
            </tr>
            <tr style="font-size: 20px;">
              <td>○ △ X</td>
              <td>comment</td>
              <td>맞은개수/전체</td>
            </tr>
            </thead>
            <tbody style="font-size: 17px;">
            <tr>
              <td>3</td>
              <td>2</td>
              <td>△</td>
              <td>개념학습이 필요하다</td>
              <td>4/10</td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td>2</td>
              <td>○</td>
              <td>개념이해가 잘 되어 있다 </td>
              <td>9/10</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>