<link rel="stylesheet" href="/assets/css/sub/step.css">
<link rel="stylesheet" href="/assets/css/sub/step2.css">
<link rel="stylesheet" href="/assets/css/sub/table-style02.css">

<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="padding-top: 15px; padding-bottom: 15px;">교육(학습)평가</h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">학습실행</li>

    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->




<!--=== 1단 ===-->
<div class="container content-sm interval04  back-img">
  <div class="interval04 txt padding-top-bottom">
    <h3> 학습 평가</h3>
    <p class="top10">- 이름 : 홍길동</p>
    <p class="step05_txt02">총괄학습평가</p>
  </div>

  <!-- Service Blcoks -->
  <div class="row1">
    <div class=" interval04">
      <table border="0" width="100%"  align="center" summary="총괄학습평가">
        <colgroup>
          <col width="25%">
          <col width="25%">
          <col width="25%">
          <col width="25%">
        </colgroup>
        <thead bgcolor="#f7f7f7">
        <tr >
          <th rowspan="2"  class="no01">소단원</th>
          <th colspan="2" >개념</th>
          <th rowspan="2" class="no02">비고</th>
        </tr>
        <tr>
          <th >완료</th>
          <th >학습중</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th   class="no01">2</th>
          <th >10</th>
          <th >2</th>
          <th class="no02"></th>
        </tr>

        </tbody>
      </table>
      <!---->

    </div>
  </div>
  <p class="top10">- 학급완료 소단원 평가</p>
  <p>- 소단원명 : </p>
  <!-- End Service Blcoks -->
</div>
<!--=== 1단 end ===-->




<!--=== 1단 ===-->
<div class="container  interval05">
  <div class="interval04 txt">
    <h3>개념평가 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(수준:중급)</h3>
    <p class="top10">- 학습수준 : 초급</p>
  </div>

  <!-- Service Blcoks -->
  <div class="row1">
    <div class="no-margin-bottom interval04">
      <table border="0" width="100%"  align="center" summary="단위개념">
        <caption>단위개념</caption>
        <colgroup>
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="*">
        </colgroup>
        <thead bgcolor="#f7f7f7">
        <tr >
          <th rowspan="2" scope="col" class="no01">단위개념</th>
          <th rowspan="2" scope="col" >수준</th>
          <th colspan="2" scope="colgroup">자기평가</th>
          <th rowspan="1" scope="col">Exercise</th>
          <th rowspan="2" scope="col" class="no02">비고</th>
        </tr>
        <tr>
          <th scope="col">○ △ ×</th>
          <th scope="col">comment</th>
          <th scope="col">맞은개수/전체</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>

        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>
        </tbody>

        <tfoot>
        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>
        </tfoot>

      </table>

      <!---->

      <table border="0" width="100%"  align="center" summary="유형문제" class="type01">
        <caption>유형문제</caption>
        <colgroup>
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="*">
        </colgroup>
        <thead bgcolor="#f7f7f7">
        <tr >
          <th rowspan="2" scope="col" class="no01">단위개념</th>
          <th rowspan="2" scope="col" >수준</th>
          <th colspan="2" scope="colgroup">자기평가</th>
          <th rowspan="1" scope="col">Exercise</th>
          <th rowspan="2" scope="col" class="no02">비고</th>
        </tr>
        <tr>
          <th scope="col">○ △ ×</th>
          <th scope="col">comment</th>
          <th scope="col">맞은개수/전체</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>

        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>
        </tbody>

        <tfoot>
        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>
        </tfoot>
      </table>

      <!---->

    </div>
  </div>
  <!-- End Service Blcoks -->
</div>
<!--=== 1단 end ===-->




<!--=== 1단 ===-->
<div class="container  interval05">
  <div class="interval04 txt">
    <h3>종합문제평가</h3>
    <p class="top10">- 학습수준 : 초급</p>
  </div>

  <!-- Service Blcoks -->
  <div class="row1">
    <div class="no-margin-bottom interval04">
      <table border="0" width="100%"  align="center" summary="단위개념">

        <colgroup>
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="16%">
          <col width="*">
        </colgroup>
        <thead bgcolor="#f7f7f7">
        <tr >
          <th rowspan="2" scope="col" class="no01">단위개념</th>
          <th rowspan="2" scope="col" >수준</th>
          <th colspan="2" scope="colgroup">자기평가</th>
          <th rowspan="1" scope="col">Exercise</th>
          <th rowspan="2" scope="col" class="no02">비고</th>
        </tr>
        <tr>
          <th scope="col">○ △ ×</th>
          <th scope="col">comment</th>
          <th scope="col">맞은개수/전체</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>

        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>
        </tbody>

        <tfoot>
        <tr>
          <th  class="no01">2</th>
          <th ></th>
          <th ></th>
          <th></th>
          <th ></th>
          <th class="no02"></th>
        </tr>
        </tfoot>

      </table>

      <!---->


    </div>
  </div>
  <!-- End Service Blcoks -->
</div>
<!--=== 1단 end ===-->