<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
  <div class="container">
  <h2 class="pull-left" style="font-weight:bold; font-size:30px; color:black; padding-top: 15px; padding-bottom: 15px;">목표설정 및 학습계획 수립</h2>
</div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<div class="container-fluid">

    <div class="row margin-bottom-30">
        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20">

            <h2 style="color: black;"><img src="/assets/img/subimg/bullet01.jpg"/>&nbsp; 학생, 부모, 선생님이 함께 참여</h2>
            <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp;Eureka Math는 학생 혼자 공부하는 것이 아니라</h4>
            <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp;부모님과 선생님이 함께 참여하고 </h4>
            <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp;학생의 진도상태, 취약부분, 학업성취도 등을 공유하는 시스템</h4>
            <br/>
            <p>* 부모님의 역할 :  진정한 협조자, 격려자</p>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-10 col-xs-offset-1 margin-top-20">
            <img class="wow shake img-responsive animated center-block" src="/assets/img/step-2.jpg" alt="step2" />
        </div>

    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20">

            <h2 style="color: black;"><img src="/assets/img/subimg/bullet01.jpg"/>&nbsp; Mentor-Mentee의 학습지도 시스템</h2>
            <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp; 학생과 선생님이 Mentor-Mentee 관계를 맺어 학습지도, 조언, 협력을 받는 시스템</h4>
            <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp; 학교에서 채택하여 가입한 경우 : 학교 수학선생님이 Mentor</h4>
            <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp; 학원에서 채택하여 가입한 경우 : 학원 수학선생님이 Mentor</h4>
            <h4 class="margin-bottom-50"><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp; 학생 개인이 직접 가입한 경우 : Eureka Math의 일반 수학선생님이 Mentor</h4>

            <h2 style="color: black;"><img src="/assets/img/subimg/bullet01.jpg"/>&nbsp; 학생, 부모, 선생님이 삼위일체가 되어 지속적으로</h2>
            <h4 class="margin-bottom-50"><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp; 학생의 학습목표 설정과 학습계획 수립에 협력</h4>

        </div>
    </div>

</div>

<%= render 'homes/footer' %>