<link rel="stylesheet" href="/assets/css/sub/step.css">

<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="padding-top: 15px; padding-bottom: 15px;">목표설정 및 학습계획 수립</h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">학습실행</li>

    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->



<!--=== 1 단 ===-->
<div class="one-page-inner one-default">
  <div class="container content">
    <div class="row toPart">

      <div class="col-md-600 Whotex supo txt ">
        <h3>학생, 부모, 선생님이 함께 참여</h3>
        <h4>Eureka Math는 학생 혼자 공부하는 것이 아니라</h4>
        <h4>부모님과 선생님이 함께 참여하고 </h4>
        <h4>학생의 진도상태, 취약부분, 학업성취도 등을 공유하는 시스템</h4>
        <p>* 부모님의 역할 :  진정한 협조자, 격려자</p>

      </div>
      <div class="col-md-6-1 ">
        <img class=" img-responsive animated" src="/assets/img/step2.jpg" alt="step2" />
      </div>
    </div>
    <!--row End-->
  </div>
  <!--container End-->
</div>

<!--=== 1단 end ===-->


<!--=== 2 단 ===-->

<div class="container content content01">
  <div class=" margin-bottom-50">
    <div class="row Whotex supo txt">
      <h3 >Mentor-Mentee의 학습지도 시스템</h3>
      <h4 class="pTxtMarg2" >학생과 선생님이 Mentor-Mentee 관계를 맺어 학습지도, 조언, 협력을 받는 시스템</h4>
      <h4 >학교에서 채택하여 가입한 경우 : 학교 수학선생님이 Mentor</h4>
      <h4 >학원에서 채택하여 가입한 경우 : 학원 수학선생님이 Mentor </h4>
      <h4 >학생 개인이 직접 가입한 경우 : Eureka Math의 일반 수학선생님이 Mentor</h4>
    </div>
  </div>
</div><!--/container-->

<!--=== 2단 end ===-->

<!--=== 3 단 ===-->

<div class="container content-sm toPart2">
  <div class=" margin-bottom-50">
    <div class="row supo txt  Whotex">
      <h3 class="top-1">학생, 부모, 선생님이 삼위일체가 되어 지속적으로</h3>
      <h4 class="top_blue pTxtMarg2">학생의 학습목표 설정과 학습계획 수립에 협력</h4>
    </div>
  </div>
</div><!--/container-->

<!--=== 3단 end ===-->
