<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="font-weight:bold; font-size:30px; color:black; padding-top: 15px; padding-bottom: 15px">아르키메데스, 유레카의 유래</h2>
  </div><!--/container-->
</div>
<!--=== End indicate ===-->
<div class="container-fluid">
  <div class="container">
    <div class="col-md-12 no-padding no-margin">
      </br></br>
      <div class="col-md-8 no-padding no-margin">
        <!--	<h3>아르키메데스, 유레카의 유래</h3>-->
        <h3 style="line-height: 180%;">&nbsp;&nbsp;고대 시칠리아의 가장 번창한 도시 국가 중의 하나였던 시라쿠사의 왕 히에론 2세는 전쟁에서 승리를 할 때마다 감사와 축하의 뜻으로 신들에게 선물을 올리곤 했습니다.<br/>
          &nbsp;한 번은 신전에 바칠 생각에 순금으로 된 왕관을 만들기로 하고 기술 좋기로 소문난 대장장이에게 이를 맡겼습니다. 그런데 대장장이가 임금에게서 받은 금을 왕관을 만드는데 모두 사용하지 않고 일부를 빼돌려 은을 섞어 순금이 아닌 왕관을 만들었다는 소문이 돌기 시작했습니다. 은이 섞였다는 것이었지요. 이에 왕은 당시 유명한 수학자이며, 물리학자였던 아르키메데스에게 이를 조사하게 하였습니다.
        </h3>
      </div>
      <div class="col-md-4 no-padding no-margin">
        <img class="wow shake img-responsive animated " src="/assets/img/arch1.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="col-md-12 no-padding no-margin">
      </br></br>
      <div class="col-md-4 no-padding no-margin">
        <img class="wow bounce img-responsive animated " src="/assets/img/arch2.jpg" />
      </div>
      <div class="col-md-8 no-padding no-margin">
        <h3 style="line-height: 180%">조건은 왕관을 부수거나 녹이지 않고 알아내는 것이었습니다.
          그날부터 아르키메데스는 고민에 빠졌습니다.
          그러던 어느날, 공중 목욕탕에서 생각에 잠긴채 물이 가득찬 목욕탕에 들어가자, 목욕탕 안의 물이 밖으로 흘러 넘치는 것을 보고, 부피를 이용해 그것을 알아낼 수 있게 됨을 알고는 너무나 기쁜 나머지 발가벗은 것도 잊은 채 목욕탕에서 뛰쳐나오며 이렇게 외쳤습니다.
          ‘EUREKA!!'  ‘EUREKA!!' (깨달았다!!!)
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="col-md-12 no-padding no-margin">
      </br></br>
      <div class="col-md-8 no-padding no-margin">
        <!--	<h3>아르키메데스, 유레카의 유래</h3>-->
        <h3 style="line-height: 180%">무언가를 발견해서 깨달음을 얻거나 문제를 해결했을 때...
          이런 느낌을 한마디로 나타낸 단어가 바로 그리스어로 ‘EUREKA' '찾았다’ 또는 ‘알았다’
          여러분도 ‘EUREKAMATH’를 통해 어려웠던 수학 문제를 해결하며 ‘EUREKA'라고 외치는 기쁨을 많이 많이 느꼈으면 좋겠습니다.
        </h3>
      </div>
      <div class="col-md-4 no-padding no-margin">
        <img class="wow pulse img-responsive animated" src="/assets/img/arch3.jpg" />
      </div>
    </div>
  </div>
</div>