<link rel="stylesheet" href="/assets/css/sub/step.css">

<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container">
    <h2 class="pull-left"  style="padding-top: 15px; padding-bottom: 15px;">어떻게 이용할 것인가?</h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">HOW</li>
    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<!--=== 1 단 ===-->
<div class="one-page-inner one-default howOpen">
  <div class="container content ">
    <div class="row">
      <div class="Whotex txt hopTxt supo">
        <h3 class="interval04">누구에게나 open된 서비스</h3>
        <h5 class="interval04">초급(level 1) 웹강의 내용 등 자유롭게 검색, 이용</h5>
        <p>* guest로 login(ID : guest, password : guest)</p>
      </div>
    </div>
    <!--row End-->
  </div>
  <!--container End-->
</div>

<!--=== 1단 end ===-->


<!--=== 2단  ===-->
<div class="process-v1 bg-color-light zoneHow" >
  <div class="container content-sm interval01">
    <div class=" margin-bottom-50">
      <h3 class="interval04">유료서비스 종류</h3>
      <div class="col-md-4 bTabox joZo">
        <h4 class=" bBoxT1">학교 (School Zone)</h4>
          <ul>
            <li>가입방법 : 학교를 통해 가입</li>
            <li>기본자료 : 학교명, 선생님,<br/><span class="spNbsp"></span> 학생의 ID, password</li>
            <li>학교단위 Admin화면 제공입</li>
            <li>가입방법 : 학교를 통해 가입</li>
            <li>이용료 : 학생당 25,000원/월</li>
          </ul>
      </div>
      <div  class="col-md-4 bTabox joZo">
        <h4 class=" bBoxT2">학원 (Institute Zone)</h4>
          <ul>
            <li>가입방법 : 학교를 통해 가입</li>
            <li>기본자료 : 학교명, 선생님,<br/><span class="spNbsp"></span> 학생의 ID, password</li>
            <li>학교단위 Admin화면 제공</li>
            <li>Mentor : 학원 선생님</li>
            <li>이용료 : 학생당 25,000원/월</li>
          </ul>
      </div>
      <div  class="col-md-4 joZo">
        <h4 class=" bBoxT3">일반 (General Zone)</h4>
          <ul>
            <li >가입방법 : 사이트에서 개인별 회원 가입
              <a href="#">
                <img src="/assets/img/btn04.png" alt="결제하기" class="payMent" />
              </a>
            </li>
            <li>기본자료 : ID, password</li>
            <li>Mentor : Eureka Math 소속 일반 선생님</li>
            <li>이용료 : 학생당 25,000원/월<br/><span class="spNbsp"></span> + α(Mentor비용)</li>
          </ul>
          <ul class="GeZone" >
            <li> * Mentor비용 : 최소한의 비용</li>
            <li>- 일반 : 질문 회수 월 60회 이내</li>
            <li>- special 1 : 질문 회수 월 60회 ~ 90회</li>
            <li>- special 2 : 질문 회수 무제한</li>
          </ul>

      </div>
    </div>
  </div><!--/end container-->
</div>
<!--=== 2단 end ===-->

<!--=== 3 단 ===-->
<div class="one-page-inner one-default freehS">
  <div class="container content">
    <div class="row">
      <div class="col-md-600 Whotex supo txt ">
        <h3>무료서비이용</h3>
        <div>
          <h5>신청  </h5>
          <p> - 사유</p>
          <p> - 연락처 등</p>
        </div>
        <div>
          <h5 >자체 심사 </h5>
        </div>
        <div>
          <h5>무료서비스 이용권한 부여  </h5>
          <p> - 사용기간</p>
        </div>
      </div>
    </div>
    <!--row End-->
  </div>
  <!--container End-->
</div>

<!--=== 3단 end ===-->