<div class="col-md-12 no-padding no-margin bg-color-white">
  <!--=== 아르키메데스===-->
  <div class="container-fluid bg-color-white" style="height: 683px;">
    <div class="container">
      <div class="row col-md-12 col-xs-12 col-lg-12 text-center">
        </br></br></br>
        <div class="col-md-6 col-md-ms-6 col-lg-6 text-center">
          <img src="/assets/img/mathfundream.png" width="100%" height="100%" class="img-responsive padding-top-5" alt="mathfundream">
        </div>
        <div class="col-md-6 col-ms-6 col-lg-6 text-center">
          <img src="/assets/img/archimedes.png"  width="100%" height="100%" class="img-responsive padding-top-5" alt="archimedes">
          </br>
          <a href="homes/history_of_eureka"> <img src="/assets/img/btn01.png" alt="view more"></a>
        </div>
      </div>
      <!--row End-->
    </div>
    <!--container End-->
  </div>
  <!--=== End 아르키메데스 ===-->

  <!-- MOTTO(모토) -->
  <div class="container-fluid no-margin no-padding" style="background-color: #f4f3ff">
    <div class="container no-padding">
      <div class="text-center margin-bottom-50">
        </br></br></br></br></br></br></br>
        <h1 style="font-size: 40px; color: #000;" class="title-center margin-bottom-10">EUREKA의 MOTTO</h1>
      </div>
      </br></br>
      <div class="col-md-4 col-ms-4 col-xs-4 col-lg-4 margin-bottom-20 text-center no-margin no-padding">
        <img src="/assets/img/motto-1.png" class="img-responsive" width="100%" alt="motto" >
      </div>
      <div class="col-md-4 col-ms-4 col-xs-4 col-lg-4 text-center no-margin no-padding">
        <img src="/assets/img/motto-2.png" class="img-responsive" width="100%" alt="motto" >
      </div>
      <div class="col-md-4 col-ms-4 col-xs-4 col-lg-4 text-center no-margin no-padding">
        <img src="/assets/img/motto-3.png" class="img-responsive" width="100%" alt="motto" >
      </div>
      <!--row End-->
      <div class="col-md-12 col-ms-12 col-xs-12 text-center margin-bottom-10">
        </br>
        <h3 class="title-center">수학(<span style="color: darkblue">MATH</span>)을 통해 청소년들에게 재미(<span style="color: green">FUN</span>)를, 그들의 꿈(<span style="color: darkred">DREAM</span>)이 실현되기를!</h3>
        </br>
        <h3 class="text-center">모든 학문의 기본이 되는 수학(Math)을 재미(Fun)있게 공부할 수 있는 기회를 아낌없이 제공하므로써, </h3>
        <h3 class="text-center">이를 통해 성공할 수 있는 삶의 밑거름이 되었으면 하는 소박한 기대를 <span style="color: blue">Eureka Math</span>를 통해 가져본다.</h3>
      </div>
      <div class="col-md-12 col-ms-12 col-lg-12 text-center margin-bottom-100">
        </br></br>
        <a href="homes/eureka_motto"><img src="/assets/img/btn02.png"></a>
        </br></br>
      </div>

    </div><!--container End-->
  </div>
  <!-- End MOTTO -->

  <!--=== 자기주도학습===-->
  <div class="container-fluid">
    <div class="container no-padding bg-color-white">
      <div class="row">
        <div class="col-md-12 col-xs-12 text-center margin-bottom-50">
          </br></br></br></br></br></br></br></br>
          <h1 style="font-size: 40px; color: #000;" class="title-center solTep">EUREKA MATH는 어떤 SOLUTION인가?</h1>
          </br>
          <h2>진정한 자기주도학습이 이루어지게 하는 맞춤형 수학교육 솔루션</h2>
        </div>
        <div class="col-md-6 text-center">
          <h1>자기주도학습이란?</h1>
          <h3 class="margin-bottom-20">(Self Directed Learning)</h3>
          <h3>학습자 스스로가 교육의 전 과정을 자발적 의사에 따라 </h3>
          <h3>선택, 결정하고 조절과 통제를 행하게 되는 학습형태</h3>
          </br>
          <a href="homes/self_directed_learning"  target="_self"><img src="/assets/img/btn02.png" alt="view more"></a>
          <div class="col-md-12 margin-top-20 margin-bottom-50">
            <img src="/assets/img/ssro.jpg">
          </div>
        </div>
        <div class="col-md-6 text-center">
          <h1 class="margin-bottom-30">자기주도학습 5단계란?</h1>
          <img class="img-responsive wow animated fadeInUp" data-wow-duration="0.5s" src="/assets/img/step.jpg" alt="자기주도학습" style="margin:0 auto"/>
          </br></br></br></br></br></br></br>
        </div>

      </div><!--End row -->
    </div>
  </div>
  <!--===End 자기주도학습 ===-->

  <hr>

  <!--===  5단계 (All)===-->
  <div class="container-fluid no-padding no-margin bg-color-white">
    <div class="container">
      <div class="row margin-bottom-60">
        <div class="col-md-12 col-xs-12 text-center margin-bottom-50">
          </br></br></br></br></br></br></br></br>
          <h1 style="font-size: 40px; color: black;">EUREKA MATH가 자기주도학습을 어떻게 도와주는지?</h1>
          <br><br>
        </div>

        <!--=== 1단계 ===-->
        <div class="col-md-12 margin-top-30">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <img class="wow shake img-responsive animated" src="assets/img/step-1.jpg"  alt="학습참여 여부"  style="visibility: visible; animation-name: shake;"/>
          </div>
          <div class="col-md-5">
            <h1>1단계: 학습참여 여부를 결정하는 단계</h1></br>
            <h3>수포자라는 단어는 Eureka Math 사전에 없다.</h3>
            <h3>수포자는Eureka Math 솔루션에 참여하고자 하는 용기가 필요.</h3>
            </br></br>
            <a href="homes/math_renouncer"><img src="assets/img/btn02.png" alt="view more" ></a>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!--=== 1단계 end ===-->


        <!--=== 2단계 ===-->
        <div class="col-md-12">
          </br></br></br></br>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h1>2단계: 목표설정&amp;달성을 위한 학습계획 수립</h1></br>
            <h3>학생·부모·선생님이 함께 참여 : 조언, 협력, 지도, 격려, 보조</h3>
            <h3>Mentor-Mentee 시스템</h3>
            <h3>- Mentor : 일반 Mentor, 학교 선생님, 학원 선생님</h3>
            </br></br>
            <a href="homes/goal_setting"><img src="/assets/img/btn02.png" alt="view more"></a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <img class="wow bounce img-responsive animated" src="/assets/img/step-2.jpg" alt style="visibility: visible; animation-name: bounce;" />
          </div>
        </div>
        <!--=== 2단계 end ===-->


        <!--=== 3단계 ===-->
        <div class="col-md-12">
          </br></br></br></br>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <img  class="wow shake img-responsive animated" src="/assets/img/step-3.jpg"  alt style="visibility: visible; animation-name: bounce;" alt="프로그램 선정" />
          </div>
          <div class="col-md-5">
            <h1>3단계: 프로그램 선정</h1><br/>
            <h3>3단계 수준(초급, 중급, 상급)별 학습</h3>
            <h3>- 학생의 학습능력에 맞게 선택, 상위 수준으로 Up-Grade</h3>
            <h3>2가지 학습 course(단원별, 학년별)를 선택</h3>
            <h3>- 학습 능력에 맞게 속도 조절(상위권 학생)</h3>
            </br></br>
            <a href="homes/program_selection"  target="_self"><img src="/assets/img/btn02.png" alt="view more"></a>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!--=== 3단계 end===-->

        <!--=== 4단계 ===-->
        <div class="col-md-12">
          </br></br></br></br>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h1>4단계: 학습실행</h1><br/>
            <h3>612개의 Unit-Concept</h3>
            <h3>- 연관된 하위개념 학습</h3>
            <h3>다양한 학습도구</h3>
            <h3>- 웹강의, 동영상강의, 화상강의, 교재프린트출력</h3>
            <h3>anytime, anywhere, anydevice</h3>
            <h3>반복학습</h3>
            <h3>효과적인 학생상 : 정직, 열정, IT친화적</h3>
            </br></br>
            <a href="homes/do_study"  target="_self"><img src="/assets/img/btn02.png" alt="view more"></a></p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <img class="wow pulse img-responsive animated margin-bottom-10"  src="/assets/img/step-4.jpg"  style="visibility: visible;" alt="">
          </div>
        </div>
        <!--=== 4단계 end===-->

        <!--=== 5단계 ===-->
        <div class="col-md-12">
          </br></br></br></br>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <img class="wow bounce img-responsive animated img-responsive" src="/assets/img/step-5.jpg"  style="visibility: visible;"  alt="" />
          </div>
          <div class="col-md-5">
            <h1>5단계: 교육평가</h1>
            <br/><p> 자기평가의 중요성(기본 전제조건)</p>
            <h3>- 학생 스스로 주관적 평가가 먼저 이루어져야 한다.</h3>
            <h3>- 외부의 객관적 평가 : 교사, 전문가</h3>
            <h3>Eureka Math 평가·분석·진단 시스템 : 학생, 부모, 선생님 공유</h3>
            <h3>평가결과에 따라 2단계로 Feed-back</h3>
            </br></br>
            <a href="homes/educational_evaluation"><img src="/assets/img/btn02.png" alt="view more"></a>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!--=== 5단계 end===-->
      </div>
    </div><!--/end row-->
  </div><!--/end container-->

  <!--===End 5단계(all) ===-->



  <!--=== Who What How ===-->
  <div class="container-fluid no-padding" style="background-color: #f8f8f8">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">
        </br></br></br></br></br></br></br></br></br>
        <h1 style="font-size: 40px; color: black;">누구를 위한, 무엇을 공부하고, 어떻게 이용하는지?</h1></br>
        <h3>유레카메스만의 맞춤형 솔루션입니다.</h3>
      </div>

      <!-- Who -->
      <div class="col-md-12 no-padding no-margin">
        </br></br></br>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img src="/assets/img/who.jpg"  class="full-width img-responsive" alt="who">
        </div>
        <div class="col-md-5">
          <h3>학생·부모·선생님이 함께 참여 : 조언, 협력, 지도, 격려, 보조</h3>
          <h3>Mentor-Mentee 시스템</h3>
          <h3>- Mentor : 일반 Mentor, 학교 선생님, 학원 선생님</h3></br>
          <a href="homes/goal_setting"><img src="/assets/img/btn03.jpg" alt="view more"></a>
        </div>
        <div class="col-md-1"></div>
      </div><!-- Who end -->

      <!-- What -->
      <div class="col-md-12 no-padding no-margin">
        </br></br></br>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img src="/assets/img/what.jpg"  class="full-width img-responsive" alt="what">
        </div>
        <div class="col-md-5">
          <h3>612개의 Unit-Concept - 연관된 하위개념 학습</h3>
          <h3>다양한 학습도구 - 웹·동영상·화상강의, 교재프린트출력</h3>
          <h3>anytime, anywhere, anydevice - 반복학습</h3>
          <h3>효과적인 학생상 : 정직, 열정, IT친화적</h3></br>
          <a href="homes/do_study"><img src="/assets/img/btn03.jpg" alt="view more"></a>
        </div>
        <div class="col-md-1"></div>
      </div><!-- What end -->

      <!-- How -->
      <div class="col-md-12 no-padding no-margin">
        </br></br></br>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img src="/assets/img/how.jpg"  class="full-width img-responsive" alt="how">
        </div>
        <div class="col-md-5">
          <h3>누구에게나 Open된 서비스</h3>
          <h3>유료서비스 종류</h3>
          <h3>무료서비스 이용</h3></br>
          <a href="homes/how"><img src="/assets/img/btn03.jpg" alt="view more"></a>
          </br></br></br></br></br></br></br></br>
        </div>
        <div class="col-md-1"></div>
      </div><!-- How end -->
    </div>
  </div><!--=== Who What How end ===-->


  <!--=== OUR CLIENT ===-->
  <div class="container-fluid no-padding no-margin bg-color-white">
    <div class="container">
      <div class="text-center margin-bottom-50">
        </br></br></br></br></br></br>
        <h2 class="title-v2 title-center">OUR CLIENT</h2>
      </div>
      <div class="owl-clients-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2592px; left: 0px; display: block;"><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/1.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/2.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/3.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/4.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/5.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/6.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/7.png" alt="">
        </div></div><div class="owl-item" style="width: 144px;"><div class="item">
          <img src="/assets/img/clients4/8.png" alt="">
        </div></div></div></div></div>

      </br></br></br></br></br></br></br>
    </div>
  </div>
  <!--=== End OUR CLIENT ===-->


  <!--=== Footer ===-->
  <div id="footer-v6" class="footer-v66">
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- Contact Us -->
          <div class="col-md-3 sm-margin-bottom-40">
            <div class="heading-footer"><h2>Contact Us</h2></div>
            <ul class="list-unstyled contacts">
              <li>상호명 : (주)유레카매스(Eureka Math)</li>
              <li>대표자명 : 김용록 </li>
              <li>사업자등록번호 : 795-87-00128</li>
              <li>경기도 성남시 분당구 매화로 50<br/> 송림프라자 303호<br/>(우 : 135-04 / 舊  야탑동 290-4 번지 )</li>
              <li>Tel. 031-708-2400</li>
              <li>Fax. 031-708-0057</li>
              <li>E-mail. eureka7000@naver.com</li>
              <li>Copyright @ 2016 Eureka Math. <br/>All Rights Reserved - Math Fun Dream</li>
            </ul>
          </div>
          <!-- End Contact Us -->


          <!-- Useful Links -->
          <div class="col-md-3 sm-margin-bottom-40 emspac">
            <div class="heading-footer"><h2>Useful Links</h2></div>
            <ul class="list-unstyled footer-link-list">
              <li><a href="/contents?view_type=1">STUDY</a></li>
              <li><a href="/mypages/evaluation">MY PAGE</a></li>
              <li><a href="/questions">BLOG</a></li>
              <li><a href="/blogs/notice">ABOUT</a></li>
              <!--<li><%=link_to('SIGN IN', new_user_registration_path )%></li> 회원가입 Block-->
              <li><%= (user_signed_in?) ? link_to('HOME', destroy_user_session_path, :method => :delete) : link_to('LOG IN', new_user_session_path) %></li>
            </ul>
          </div>
          <!-- End Useful Links -->

          <!--map  -->
          <div class="col-md-3 sm-margin-bottom-40 emspac ">
            <div class="heading-footer"><h2>Eureka Math</h2></div>
            <a href="https://www.google.co.kr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%84%B1%EB%82%A8%EC%8B%9C%20%EB%B6%84%EB%8B%B9%EA%B5%AC%20%EB%A7%A4%ED%99%94%EB%A1%9C%2050" target="_blank"><img src="/assets/img/map.jpg"  class=" img-responsive" alt="Eureka Math" /></a>
          </div>
          <!--End  map -->


          <!-- 이용약관-->
          <div class="col-md-3 getintouchG emspac">
            <ul class="list-unstyled contacts ">
              <li><a href="homes/access_terms">이용약관</a></li>
              <li><a href="homes/personal_info_protection">개인정보보호</a></li>
              <li><a href="/">SNS</a></li>
              <!--
              <li class="getintouch"><a href="sub/sub4-1.html">GET IN TOUCH</a></li>-->
            </ul>
          </div>
          <!-- End 이용약관 -->
        </div>
      </div><!--/container -->
    </div>

  </div>
  <!--=== End Footer ===-->
</div>