<!--=== 아르키메데스===-->
<div class="container-fluid bg-color-white">
  <div class="one-page-inner one-red">
    <div class="container content container01">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/img/mathfundream.png" class="img-responsive margin-bottom-10" alt="mathfundream">
        </div>
        <div class="col-md-6">
          <img src="/assets/img/archimedes.png"   class="img-responsive margin-bottom-10 " alt="archimedes">
          <p  class="view view02"><a href="homes/history_of_eureka"> <img src="/assets/img/btn01.png" alt="view more".></a></p>
        </div>
      </div>
      <!--row End-->
    </div>
    <!--container End-->
  </div>
  <!--one-pager End-->
</div>
<!--=== End 아르키메데스 ===-->

<!-- MOTTO(모토) -->
<div class="testimonials-section4 text-center content-md01" id="testimonials">
  <div class="moto">
    <div class="container container02">
      <div class="text-center margin-bottom-51">
        <h2 style="font-size: 40px; color: #000;" class="title-center ">EUREKA의 MOTTO</h2>
      </div>

      <div class="row mottoHbo">
        <!-- Testimonials Item BEGIN -->
        <div class="mottoImB">
          <div class="testimonials-info mottoIc" >
            <img src="/assets/img/motto1.png" class=" img-responsive" alt="motto" >
          </div>
          <div class="testimonials-info mottoIc" >
            <img src="/assets/img/motto2.png" class=" img-responsive" alt="motto" >
          </div>
          <div class="testimonials-info mottoIc" >
            <img src="/assets/img/motto3.png" class=" img-responsive" alt="motto" >
          </div>
        </div>
        <p class="space-lg-hor title-center Whotex">수학( <span class="math">MATH</span>)을 통해 청소년들에게 재미(<span class="fun">FUN</span>)를, 그들의 꿈(<span class="dream">DREAM</span>)이 실현되기를!</p>
        <p class="space-lg-hor title-center Whotex">모든학문의 기본이 되는 수학(Math)을 재미(Fun)있게 공부할 수 있는 기회를 아낌없이 제공하므로써, 이를 통해 성공할 수 있는 삶의 밑거름이 되었으면 하는 소박한 기대를 <br/>Eureka Math를 통해 가져본다.</p>
        <p  class="view margin-bottom-50"><a href="homes/eureka_motto"><img src="/assets/img/btn02.png"  class=" img-responsive"  alt="view more"></a></p>
      </div>
      <!--row End-->

    </div><!--container End-->
  </div><!--moto End-->
</div>

<!-- End MOTTO -->


<!--=== 자기주도학습===-->

<div class="container content-md ">
  <div class="row">
    <div class="text-center margin-bottom-50">
      <h2 style="font-size: 40px; color: #000;" class="title-center solTep">EUREKA MATH는 어떤 SOLUTION인가?</h2>
      <p class="space-lg-hor">진정한 자기주도학습이 이루어지게 하는 맞춤형 수학교육 솔루션</p>
    </div>
    <div class="col-md-6 md-margin-bottom-40 study01">
      <h3 class="margin-bottom-30" style="font-size: 30px; color: #4f4f4f;">자기주도학습이란?<br/>(Self Directed Learnung)</h3>
      <p  class="space-lg-hor">학습자 스스로가 교육의 전 과정을 자발적 의사에 따라 선택, 결정하고 조절과 통제를 행하게 되는 학습형태</p>
      <p  class="view"><a href="homes/self_directed_learning"  target="_self"><img src="/assets/img/btn02.png" alt="view more"></a></p>
      <p ><img src="/assets/img/ssro.jpg" class=" img-responsive" alt="스스로학습"/></p>
    </div>
    <div class="col-md-6 md overflow-h study01">
      <h3 class="margin-bottom-30" style="font-size: 30px; color: #4f4f4f;">자기주도학습 5단계란?</h3>
      <img class="img-responsive wow animated fadeInUp" data-wow-duration="0.5s" src="/assets/img/step.jpg" alt="자기주도학습" style="margin:0 auto"/>
    </div>
  </div><!--End row -->
</div>
<!--===End 자기주도학습 ===-->

<div class="lineSS"></div>

<!--===  5단계 (All)===-->
<div class="container">
  <div class="row margin-bottom-60">
    <div class="text-center margin-bottom-50">
      <h2 style="font-size: 40px; color: #000;" class="title-center step5 ">EUREKA MATH가 자기주도학습을 어떻게 도와주는지?</h2>
    </div>
    <div class="one-page one-page-step">


      <!--=== 1단계 ===-->
      <div class="one-page-inner one-blue">
        <div class="container content">
          <div class="row">
            <div class="col-md-6 ImaLeft">
              <img class="wow shake img-responsive animated" src="/assets/img/step1.jpg"  alt="학습참여 여부"  style="visibility: visible; animation-name: shake;"/>
            </div>
            <div class="col-md-6 Whotex">
              <h3 style="font-size: 30px; color: #4f4f4f;">1단계: 학습참여 여부를 결정하는 단계</h3>
              <br/><p>수포자라는 단어는 Eureka Math 사전에 없다.</p>
              <p>수포자는Eureka Math 솔루션에 참여하고자 하는 용기가 필요.</p>
              <p  class="view"><a href="homes/math_renouncer"><img src="/assets/img/btn02.png" alt="view more" ></a></p>
            </div>
          </div>
          <!--row End-->
        </div>
        <!--container End-->
      </div>
      <!--=== 1단계end ===-->


      <!--=== 2단계 ===-->
      <div class="one-page-inner one-default">
        <div class="container content">
          <div class="row">
            <div class="col-md-6-1 ImaLeft">
              <img class="wow bounce img-responsive animated" src="/assets/img/step2.jpg" alt style="visibility: visible; animation-name: bounce;" />
            </div>
            <div class="col-md-6 Whotex">
              <h3 style="font-size: 30px; color: #4f4f4f;">2단계: 목표설정&amp;달성을 위한 학습계획 수립</h3>
              <br><p>학생·부모·선생님이 함께 참여 : 조언, 협력, 지도, 격려, 보조</p>
              <p>Mentor-Mentee 시스템</p>
              <p>- Mentor : 일반 Mentor, 학교 선생님, 학원 선생님</p>
              <p  class="view"><a href="homes/goal_setting"><img src="/assets/img/btn02.png" alt="view more"></a></p>
            </div>
          </div>
          <!--row End-->
        </div>
        <!--container End-->
      </div>
      <!--=== 2단계 end ===-->


      <!--=== 3단계 ===-->
      <div class="one-page-inner one-default">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 ImaLeft">
              <img  class="wow shake img-responsive animated" src="/assets/img/step3.jpg"  alt style="visibility: visible; animation-name: bounce;" alt="프로그램 선정" />
            </div>
            <div class="col-md-6 Whotex">

              <h3 style="font-size: 30px; color: #4f4f4f;">3단계: 프로그램 선정</h3>
              <br/><p>3단계 수준(초급, 중급, 상급)별 학습</p>
              <p>- 학생의 학습능력에 맞게 선택, 상위 수준으로 Up-Grade</p>
              <p>2가지 학습 course(단원별, 학년별)를 선택</p>
              <p>- 학습 능력에 맞게 속도 조절(상위권 학생)</p>
              <p  class="view"><a href="homes/program_selection"  target="_self"><img src="/assets/img/btn02.png" alt="view more"></a></p>

            </div>
          </div>
          <!--row End-->
        </div>
        <!--container End-->
      </div>

      <!--=== 3단계 end===-->

      <!--=== 4단계 ===-->
      <div class="one-page-inner one-default">
        <div class="container content">
          <div class="row">
            <div class="col-md-6-1 ImaLeft">
              <img  class="wow pulse img-responsive animated img-responsive margin-bottom-10"  src="/assets/img/step4.jpg"  style="visibility: visible;" alt="">
            </div>
            <div class="col-md-6 Whotex">
              <h3 style="font-size: 30px; color: #4f4f4f;">4단계: 학습실행</h3>
              <br/><p>612개의 Unit-Concept</p>
              <p>- 연관된 하위개념 학습</p>
              <p>다양한 학습도구</p>
              <p>- 웹강의, 동영상강의, 화상강의, 교재프린트출력</p>
              <p>anytime, anywhere, anydevice</p>
              <p>반복학습</p>
              <p>효과적인 학생상 : 정직, 열정, IT친화적</p>
              <p  class="view"><a href="homes/do_study"  target="_self"><img src="/assets/img/btn02.png" alt="view more"></a></p>
            </div>
          </div>
          <!--row End-->
        </div>
        <!--container End-->
      </div>
      <!--=== 4단계 end===-->

      <!--=== 5단계 ===-->
      <div class="one-page-inner one-default" >
        <div class="container content">
          <div class="row ">
            <div class="col-md-6 ImaLeft">
              <img class="wow bounce img-responsive animated img-responsive" src="/assets/img/step5.jpg"  style="visibility: visible;"  alt="" />
            </div>
            <div class="col-md-6 Whotex">
              <h3 style="font-size: 30px; color: #4f4f4f;">5단계: 교육평가</h3>
              <br/><p> 자기평가의 중요성(기본 전제조건)</p>
              <p>- 학생 스스로 주관적 평가가 먼저 이루어져야 한다.</p>
              <p>- 외부의 객관적 평가 : 교사, 전문가</p>
              <p>Eureka Math 평가·분석·진단 시스템 : 학생, 부모, 선생님 공유</p>
              <p>평가결과에 따라 2단계로 Feed-back</p>
              <p  class="view"><a href="homes/educational_evaluation"><img src="/assets/img/btn02.png" alt="view more"></a></p>
            </div>
          </div>
          <!--row End-->
        </div>
        <!--container End-->
      </div>
      <!--=== 5단계 end===-->

    </div>



  </div><!--/end row-->
</div><!--/end container-->

<!--===End 5단계(all) ===-->



<!--=== Who What  How ===-->

<div class="content-md02" >

  <div class="who">
    <div class="container  container03">
      <div class="row margin-bottom-60">
        <div class="text-center margin-bottom-50">
          <h2 style="font-size: 40px; color: #000;" class="title-center">누구를 위한, 무엇을 공부하고, 어떻게 이용하는지?</h2>
          <p class="space-lg-hor">유레카메스만의 맞춤형 솔루션입니다.</p>
        </div>


        <!-- who -->
        <div class="row01">
          <div class="col-sm-6">
            <div class="owl-carousel-v5">
              <div class="owl-slider-v5">
                <div class="item ImaLeft">
                  <img src="/assets/img/who.jpg"  class="full-width img-responsive" alt="who">
                </div>

              </div>
            </div>
          </div>
          <br/>
          <div class="col-sm-7 Whotex1">
            <p>학생·부모·선생님이 함께 참여 : 조언, 협력, 지도, 격려, 보조</p>
            <p>Mentor-Mentee 시스템</p>
            <p>- Mentor : 일반 Mentor, 학교 선생님, 학원 선생님</p>
            <p class="view03"><a href="homes/goal_setting"><img src="/assets/img/btn03.jpg" alt="view more"></a></p>
          </div>
        </div>
        <!-- who end-->


        <!-- what -->
        <div class="row02">
          <div class="col-sm-6">
            <div class="owl-carousel-v5">
              <div class="owl-slider-v5">
                <div class="item ImaLeft">
                  <img src="/assets/img/what.jpg"  class="full-width img-responsive" alt="what">
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="col-sm-7 Whotex1">
            <p>612개의 Unit-Concept - 연관된 하위개념 학습</p>
            <p>다양한 학습도구 - 웹·동영상·화상강의, 교재프린트출력</p>
            <p>anytime, anywhere, anydevice - 반복학습</p>
            <p>효과적인 학생상 : 정직, 열정, IT친화적</p>
            <p class="view03"><a href="homes/do_study"><img src="/assets/img/btn03.jpg" alt="view more"></a></p>
          </div>
        </div>
        <!-- what end-->


        <!-- how -->
        <div class="row02">
          <div class="col-sm-6">
            <div class="owl-carousel-v5">
              <div class="owl-slider-v5">
                <div class="item ImaLeft">
                  <img src="/assets/img/how.jpg"  class="full-width img-responsive" alt="how">
                </div>

              </div>
            </div>
          </div>
          <br/>
          <div class="col-sm-7 Whotex1">
            <p>누구에게나 Open된 서비스</p>
            <p>유료서비스 종류</p>
            <p>무료서비스 이용</p>
            <p class="view03"><a href="homes/how"><img src="/assets/img/btn03.jpg" alt="view more"></a></p>
          </div>
        </div>
        <!-- how end-->


      </div><!--/end row-->
    </div><!--/end container-->
  </div>
</div>
<!--===End Who What  How ===-->




<!--=== OUR CLIENT ===-->
<div class="content-md03" >
  <div class="our">
    <div class="container container04">
      <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">OUR CLIENT</h2>
      </div>

      <ul class="list-inline owl-carousel-v6 owl-slider-v6 margin-bottom-50">
        <li class="owl-carousel-item">
          <img src="/assets/img/clients4/1.png" alt="">
        </li>
        <li class="owl-carousel-item">
          <img src="/assets/img/clients4/1.png" alt="">
        </li>
        <li class="owl-carousel-item">
          <img src="/assets/img/clients4/1.png" alt="">
        </li>
        <li class="owl-carousel-item">
          <img src="/assets/img/clients4/1.png" alt="">
        </li>
        <li class="owl-carousel-item">
          <img src="/assets/img/clients4/1.png" alt="">
        </li>

      </ul>
    </div><!--/container-->
  </div>
</div>
<!--=== End OUR CLIENT ===-->


<!--=== Footer ===-->
<div id="footer-v6" class="footer-v66">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- Contact Us -->
        <div class="col-md-3 sm-margin-bottom-40">
          <div class="heading-footer"><h2>Contact Us</h2></div>
          <ul  class="list-unstyled contacts">
            <li>경기도 성남시 분당구 매화로 50<br/> 송림프라자 303호<br/>(우 : 135-04 / 舊  야탑동 290-4 번지 )</li>
            <li>Tel. 031-708-2400</li>
            <li>Fax. 031-708-0057</li>
            <li>E-mail. eureka7000@naver.com</li>
            <li>Copyright @ 2016 Eureka Math. <br/>All Rights Reserved - Math Fun Dream</li>
          </ul>
        </div>
        <!-- End Contact Us -->


        <!-- Useful Links -->
        <div class="col-md-3 sm-margin-bottom-40 emspac">
          <div class="heading-footer"><h2>Useful Links</h2></div>
          <ul class="list-unstyled footer-link-list">
            <li><a href="#">STUDY</a></li>
            <li><a href="#">MY PAGE</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SIGN UP</a></li>
            <li><a href="#">LOG IN</a></li>
          </ul>
        </div>
        <!-- End Useful Links -->

        <!--map  -->
        <div class="col-md-3 sm-margin-bottom-40 emspac ">
          <div class="heading-footer"><h2>Eureka Math</h2></div>
          <a href="https://www.google.co.kr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%84%B1%EB%82%A8%EC%8B%9C%20%EB%B6%84%EB%8B%B9%EA%B5%AC%20%EB%A7%A4%ED%99%94%EB%A1%9C%2050" target="_blank"><img src="/assets/img/map.jpg"  class=" img-responsive" alt="Eureka Math" /></a>
        </div>
        <!--End  map -->


        <!-- 이용약관-->
        <div class="col-md-3 getintouchG emspac">
          <ul class="list-unstyled contacts ">
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보보호</a></li>
            <li><a href="#">SNS</a></li>
            <li class="getintouch"><a href="sub/sub4-1.html">GET IN TOUCH</a></li>
          </ul>
        </div>
        <!-- End 이용약관 -->
      </div>
    </div><!--/container -->
  </div>

</div>
<!--=== End Footer ===-->