<link rel="stylesheet" href="/assets/css/pages/page_404_error6.css">

<div class="error-bg">
    <div class="container">
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v7">
                    <h1>로그아웃 되었습니다</h1>
                    <span class="sorry">해당 페이지는 로그아웃 되었을 때 보여집니다.
                        <br>만약 다른 기기에서 로그인으로 인해 로그아웃 되었을 경우에는 확인 후 비밀번호를 변경해 주시기 바랍니다.
                    </span>
                    <!--<strong class="h1">404</strong>-->
                    <button class="btn-u rounded" onclick="move_home()">메인으로 이동</button>
                </div>
            </div>
        </div>
    </div><!--/container-->
</div>

<div class="container sticky-footer">
    <ul class="list-unstyled social-links margin-bottom-30">
        <!--<li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>-->
        <!--<li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>-->
        <!--<li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>-->
    </ul>
    <p class="copyright-space">
        Copyright @ 2016 - 2017 Eureka Math. All Rights Reserved - Math Fun Dream
        <a href="/homes/access_terms">이용약관</a> | <a href="/homes/personal_info_protection">개인정보보호</a>
    </p>
</div>

<script type="text/javascript">
    function move_home() {
        location = '/'
    }
</script>