<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
  <div class="container">
    <h2 class="pull-left" style="font-weight:bold; font-size:30px; color:black; padding-top: 15px; padding-bottom: 15px;">수포자</h2>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<!--=== 1단 ===-->
<div class="container">
  <div class="col-md-12">
    <br/><br/>
    <h2><img src="/assets/img/subimg/bullet01.jpg"/>&nbsp; <span style="color: darkred">수포자</span>란 <span style="color: darkred">수</span>학을 <span style="color: darkred">포</span>기한 학생의 신조어이다.</h2>
    <h4><img src="/assets/img/subimg/bullet02.jpg"/>&nbsp; 수포자는 시간과 노력을 투자해도 재미없고 점수도 오르지 않아 수학 공부하기를 포기하는 학생이다.</h4>
    <br/><br/>
  </div>

  <div class="col-md-12 col-xs-12 col-lg-12 margin-bottom-50">
    <div class="col-md-4 col-xs-4">
      <img src="/assets/img/supoza1.png" class=" img-responsive center-block" alt="motto" >
    </div>
    <div class="col-md-4 col-xs-4">
      <img src="/assets/img/supoza2.png" class=" img-responsive center-block" alt="motto" >
    </div>
    <div class="col-md-4 col-xs-4">
      <img src="/assets/img/supoza3.png" class=" img-responsive center-block" alt="motto" >
    </div>
  </div>
</div>
<!--=== 1단 end ===-->

<!--=== 2단  ===-->
<div class="process-v1 bg-color-blue" >
  <div class="container content-sm">
    <div class="col-md-12">
      <br/>
      <h1 style="color: white;"><span style="color: yellow">수·포·자</span>는 없고 <span style="color: yellow">수·재·자</span>만 있다.</h1>
      <h4 style="color: white; line-height: 180%;" class="margin-top-20">
        좀 더 현실적으로 말하면 이런 시간과 노력을 수학 말고 오히려 다른 과목에 투자하는 것이 현명하다고 느껴, 아예 수학 공부를 포기하고 안하는 학생을 말한다.
        하지만 수학을 포기하면 본인이 원하는 좋은 대학에 합격하는 것이 현실적으로 불가능하다는 사실을 너무도 잘 알고 있다.
        결국 수학 포기는 최악(最惡)의 선택이 아니라 학생 본인도 어쩔 수 없이 하게 되는 차악(次惡)의 선택인 것이다.
      </h4>
      <h4 style="color: white; line-height: 180%;" class="margin-top-20">
        그런데 많은 과목 중에서 국어, 영어 등의 포기자 즉, 국포자, 영포자는 별로 없는데 수학 포기자는 엄청나게 많을까?
        이는 다름 아닌 수학 과목만의 독특한 학습체계 때문이다.
        즉, 수학 과목은 다른 과목에 비해 가장 기본적인 step-by-step 학문이다.
        한마디로 앞 단계의 하위개념, 원리를 이해하지 못하면 현재의 상위개념, 원리를 이해하기 어려운 구조로 되어 있는 학문이다.
        수포자도 역시 수학의 이런 학문상의 기본구조에 대해 최소한은 알고 있다.
        단지 이러한 구조는 알되, 현재의 개념, 원리를 이해하고 또는 문제를 푸는데 그 전(前)단계의 개념, 원리가 어떤 것이지를 모를 따름이다.
        어떤 학생도 처음부터 현재의 개념, 원리를 다 잘 알고 있지는 않다.
        전단계의 개념, 원리 지식을 동원하여 현재의 개념, 원리를 이해하게 된 것이다.
        그런데 다른 과목에 비해 유독히 수학은 이런 연결고리 또는 연관 관계가 훨씬 복잡하고 단단하게 서로 얽혀있다.
        </h4>
      <h4 style="color: white; line-height: 180%;" class="margin-top-20">
        한편 문제를 풀고 해답을 맞추는 과정에서 수학 과목만큼 재미와 희열을 느끼게 하는 과목도 없을 것이다.
        따라서 게임을 즐기듯 문제가 잘 풀리면 수학은 분명 재미있는 과목이다.
        또한 과목의 특성상 많이 외우지 않고 어느 정도 잘 이해하고만 있어도 역설적으로 들릴지 모르지만 따라갈 수 있는 과목이다.
        외우기 싫어하고 약간 게으른 학생에게는 오히려 취향에 맞는 과목이라고 할 수 있다.
        공부해 보면 아마 영어 단어의 spelling을 외우는 것같이 귀찮은 일도 없을 것이다.
        영어 단어 하나 외우기보다 하나의 수학 원리를 이해하기가 훨씬 쉽게 느껴질 수도 있다.
        </h4>
      <h4 style="color: white; line-height: 180%;" class="margin-top-20">
        나의 경험상, 수학 공부에 흥미를 잃은 학생들에게 학기가 2~3달 지난 후에 ‘수학이 재미있니?
        아니면, 영어가 재미있니?’라고 물어보면 거의 모든 학생들이 수학이라는 대답을 할 때, 앞에서 이야기한 두 가지 사실에 더더욱 확신을 갖게 되었다.
        즉, step-by-step인 수학의 특성을 잘 이해하고 공부하면 거의 모든 학생들은 수학에 재미를 느낀다고...
        따라서 수학을 포기하는 수포자는 처음부터 없었으며, <span style="color: yellow">수</span>학을 차근차근 공부하면 <span style="color: yellow">재</span>미를 느끼는 <span style="color: yellow">‘수·재·자’</span>는 처음부터 있었다고 확신한다.
      </h4>
    </div>
  </div><!--/end container-->
</div>
<!--=== 2단 end ===-->

<!--=== 3단 ===-->
<div class="process-v1 bg-color-white" >
  <div class="container content-sm">
    <div class="col-md-12">
      <h1><span style="color: darkred">수·포·자</span>를 없앨 수 있는 방법은 무엇인지?</h1>
      <h4 style="line-height: 180%;">
        &nbsp;&nbsp;어린 수포자는 치유하기가 쉽지만 고학년 수포자는 그만큼 치유하기가 어렵다. 왜냐하면 어린 수포자에게 처방전은
        몇 줄 안되지만 고학년 수포자에게는 많은 양의 처방전이 필요하기 때문이다. 분명한 사실은 수포자라는 병은 분명
        치유가능하나 그 정도에 따라 각고의 시간과 노력이 비례한다는 것뿐이다. 따라서 수포자는 고질병은 아니고, 본인
        의 노력 정도에 따라 분명 치유되는 시간과 정도의 문제인 것이다.
        </h4>
      <h4 style="line-height: 180%;">
        예를 들어 다음과 같은 𝑥에 관한 이차방정식 2𝒙²+𝒙-3=0 을 풀어보자.<br/>
        이 문제는 중학교 3학년 1학기에 배우는 이차방정식의 기초적인 문제이다.
        이 문제를 올바로 풀기 위해서는 다음과 같은 4가지 전 단계의 개념, 원리를 알아야 한다.
      </h4>
      <h4>
      <div class="row">
        <div class="col-md-6">
        <table class="table">
          <tbody>
          <tr>
            <td>ⅰ) 이차방정식의 정의</td>
            <td>⬅︎</td>
            <td>다항식(1,2학년), 방정식(1,2학년)</td>
          </tr>
          <tr>
            <td>ⅱ) 인수분해</td>
            <td>⬅︎</td>
            <td>다항식(1,2학년), 방정식(1,2학년)</td>
          </tr>
          <tr>
            <td>ⅲ) AB=0 이면 A=0 또는 B=0 </td>
            <td>⬅︎</td>
            <td>‘또는(or)’의 개념</td>
          </tr>
          <tr>
            <td>ⅳ) 일차방정식의 풀이</td>
            <td>⬅︎</td>
            <td>등식의 성질(1학년)</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
      </h4>
      <h4 style="line-height: 180%;">
        이 이차방정식은 다음과 같이 푼다.<br/>
        <div class="row">
          <div class="tag-box tag-box-v5 col-md-6">
            <img src="/assets/img/supoza5.png">
          </div>
          <div class="col-md-6"></div>
        </div>
      </h4>
      <h4 style="line-height: 180%;">
        또한, 4가지 각각의 개념, 원리를 이해하기 위해서는 또다시 그 전 단계의 개념, 원리를 알고 있어야 한다.
        따라서 이 한 문제를 풀기 위해서는 전 단계와 그 전전 단계까지 합하면 거의 10여 가지의 개념, 원리를 알고 있어야 한다.
        이것이 바로 수포자가 나오는 배경이다.
      </h4>
      <h4 style="line-height: 180%;">
        일단 이 문제를 풀지 못하는 수포자는 <br/>
        <ul>
        <li>첫째, 이 문제를 풀기 위해서 직접적으로 어떤 개념, 원리가 연관되어 있는지를 모르고</li>
        <li>둘째, 4개의 개념, 원리 중 3개는 알고 있는데 나머지 1개의 개념, 원리를 이해하지 못하고 있을 때.<br/>
          예를 들면, ⅲ) AB=0이면 A=0 또는 B=0가 된다는 사실을 모를 때.
          그 전(前) 단계인 ‘또는(or)’의 개념을 공부할 수 있는 루트를 모르고 있으며</li>
        <li>셋째, 고등학교의 모든 과정에서 기본적으로 이차방정식이 연관되어 있기 때문에 고등학교 전과정에서
          머리 아프고 재미 없어 결국에는 수학포기자가 된다.</li>
        </ul>

        대부분의 학생들은 수업을 듣고도 이해가 안되는 문제는 학원, 개인지도 등을 통해 해결하려고 한다.
        하지만 과도한 사교육비를 감내해야 하고, 때에 따라서는 자존심, 체면 등으로 완벽히 해결하지 못하고 적당히 넘어가다 수포자가 된다.
        하지만 남이 가르쳐주어 이해하는 것보다는 자기 스스로 터득한 것이 오래갈 것이고 보다 큰 재미와 희열을 맛볼 것이다.
        Eureka Math는 바로 이 점에 주목하여 첫째, 4가지 하위개념, 원리를 제시하여 여러 방법으로 이해하도록 도와주고
        둘째, 하위개념의 전(全) 하위개념도 제시하여 스스로 공부할 수 있는 루트와 해결방안을 제시했다.
        따라서 Eureka Math는 학생 스스로 자기주도학습을 할 수 있게끔 학생 개개인에게 딱 맞는 문제해결의 실마리를 제공하고,
        궁극적으로는 문제를 자기 힘으로 해결하여 보람과 재미를 느끼도록 고안된 맞춤형 수학교육솔루션이다.
        그러므로 Eureka Math의 사전에는 <span style="color: darkred;">수·포·자</span>란 단어는 없고 오직 <span style="color: darkblue;">수·재·자</span>란 단어만 있을 뿐이다.
      </h4>
    </div>
  </div><!--/end container-->
</div>
<!--=== 3단 end ===-->