<link rel="stylesheet" href="/assets/css/sub/step.css">
<link rel="stylesheet" href="/assets/css/sub/table-style01.css">

<!--=== indicate ===-->
<div class="breadcrumbs">
  <div class="container" style="padding-top: 15px; padding-bottom: 15px;"><h2>프로그램선정</h2>
    <!--ul class="pull-right breadcrumb" style="font-size:15px">
      <li><a href="index.html">Home</a></li>
      <li style="color:#00c9f8">학습실행</li>

    </ul-->
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<!--=== 1단 ===-->
<div class="container content-sm interval04">
  <div class="interval04 txt">
    <h3> 개념별로 3단계 학습이 가능</h3>
    <p class="top10">- 학생 본인의 능력에 맞게 3단계 수준의 학습이 가능</p>
  </div>

  <!-- Service Blcoks -->
  <div class="row">
    <div class="no-margin-bottom interval04">
      <table border="0" width="100%"  align="center" summary="학습평가">
        <colgroup>
          <col width="10%">
          <col width="35%">
          <col width="35%">
          <col width="10%">
          <col width="10%">
        </colgroup>
        <thead bgcolor="#03a9fd">
        <tr>
          <th rowspan="1" id="left_menu" ></th>
          <th rowspan="1"  class="leftline">단위개념공부</th>
          <th rowspan="1" >문제풀이</th>
          <th rowspan="1" >학년 </th>
          <th rowspan="1" >색상</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th class="no01 left_menu">초급</th>
          <th class="a_left">특별한 하위개념을 알지 못하더라도 이해할 수 있는 수준</th>
          <th class="a_left">단위개념만 이해하고 있으면 혼자서 풀 수 있는 수준</th>
          <th >중1</th>
          <th class="no02">yellow</th>
        </tr>
        <tr>
          <th class="no01 left_menu">중급</th>
          <th class="a_left">간단한 하위개념 1~2개 정도가 연관되어 있는 수준</th>
          <th class="a_left">단위개념 2개 정도가 혼합되어 한번 더 생각해야 하는 수준</th>
          <th >중2</th>
          <th class="no02">green</th>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th class="no01 left_menu">상급</th>
          <th class="a_left">단위개념 3개 이상이 혼합되어 응용되어 있는 수준</th>
          <th class="a_left">단위개념 3개 이상이 혼합되어 응용되어 있는 수준</th>
          <th >중3,고1</th>
          <th class="no02">red</th>
        </tr>
        </tfoot>
      </table>
      <!---->

    </div>
  </div>
  <!-- End Service Blcoks -->
</div>
<!--=== 1단 end ===-->




<!--=== 1단 ===-->
<div class="container content-sm interval05">
  <div class="interval04 txt">
    <h3> 2개의 학습 Course : 단원별, 학년별</h3>
    <h4 class="interval03">거의 대부분의 단원(Sub-category)이 중학교와 고등학교 교과과정이 겹침</h4>
  </div>
  <!--=== box 안 ===-->
  <div class="boxgroup box01">
    <div>
      <div class="row1">
        <div class="col-md-6-1 box-img">
          <img class=" img-responsive" src="/assets/img/step3.jpg"  alt="학습참여 여부" width="70%" />
        </div>
        <div class="col-md-600 box-txt ">
          <h5 class="bull">함수의 경우</h5>
          <div>

            <p>중1 : 대응, 함숫값, 순서상과 좌표평면, 함수(y=ax 등)의 그래프</p>
            <p>중2 : x,y절편, 기울기, 교점</p>
            <p>중3 : 평행이동, 대칭이동</p>
            <p>고1 : 일대일함수,정의역,치역,우함수&amp;기함수,합성함수,역함수</p>
          </div>
        </div>
      </div>
      <!--row End-->
    </div>
    <!--container End-->
  </div>
  <!--=== box 안 end ===-->
  <div class="interval04 txt">

    <h4 class="interval03">어떤 학습 Course을 따를 것인가?</h4>
  </div>

  <!-- Service Blcoks -->
  <div class="row1">
    <div class="no-margin-bottom interval04">
      <table border="0" width="100%"  align="center" summary="학습평가">
        <colgroup>
          <col width="20%">
          <col width="40%">
          <col width="40%">

        </colgroup>
        <thead bgcolor="#03a9fd">
        <tr >
          <th  rowspan="2"  id="left_menu" class="no01"></th>
          <th>단원별 학습코스</th>

          <th class="no02">학년별 학습코스</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th headers="left_menu"  class="no01 left_menu">구성</th>
          <th class="a_left">정수, 방정식, 함수, 삼각형, 통계 등 단원(Sub-category)별로 학습</th>

          <th class="no02 a_left">중1, 중2, 중3, 고1 등 학년별로 학습</th>
        </tbody>
        <tfoot>
        <tr>
          <th   class="no01 left_menu">학습대상</th>
          <th class="a_left"> 고등학교 학생<br/>
            중학교 상위권 학생중 수학적 욕구가 강한 학생</th>
          <th class="no02 a_left">일반적인 중학교 학생</th>
        </tr>
        </tfoot>
      </table>
      <!---->

    </div>
  </div>
  <!-- End Service Blcoks -->
</div>
<!--=== 1단 end ===-->
