<div class="col-md-12 breadcrumbs">
    <div class="container">
        <h2 class="pull-left" style="font-weight:bold; font-size:30px; color:black; padding-top: 15px; padding-bottom: 15px;">프로그램선정</h2>
    </div><!--/container-->
</div><!--/breadcrumbs-->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20">

            <h2><img src="/assets/img/subimg/bullet01.jpg"/> 개념별로 3단계 학습이 가능</h2>
            <h4>- 학생 본인의 능력에 맞게 3단계 수준의 학습이 가능</h4>

            <div class="panel panel-dark-blue margin-top-20 margin-bottom-50">
                <div class="panel-heading">
                    <h3 style="color: white;">&nbsp;평가기준표</h3>
                </div>
                <h5>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>단위개념공부</th>
                                <th>문제풀이</th>
                                <th>학년</th>
                                <th>색상</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>초급</td>
                                <td>특별한 하위개념을 알지 못하더라도 이해할 수 있는 수준</td>
                                <td>단위개념만 이해하고 있으면 혼자서 풀 수 있는 수준</td>
                                <td>중1</td>
                                <td style="color: #c6c600;">Yellow</td>
                            </tr>
                            <tr>
                                <td>중급</td>
                                <td>간단한 하위개념 1~2개 정도가 연관되어 있는 수준</td>
                                <td>단위개념 2개 정도가 혼합되어 한번 더 생각해야 하는 수준</td>
                                <td>중2</td>
                                <td style="color: green;">Green</td>
                            </tr>
                            <tr>
                                <td>상급</td>
                                <td>단위개념 3개 이상이 혼합되어 응용되어 있는 수준</td>
                                <td>단위개념 3개 이상이 혼합되어 응용되어 있는 수준	중3,고1	red
                                </td>
                                <td>중3, 고1</td>
                                <td style="color: red;">Red</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </h5>
            </div>

            <h2><img src="/assets/img/subimg/bullet01.jpg"/>&nbsp; 2개의 학습 Course : 단원별, 학년별</h2>
            <h4>- 거의 대부분의 단원(Sub-category)이 중학교와 고등학교 교과과정이 겹침</h4>

        </div>
    </div>

    <div class="row">

        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20">
            <h3><img src="/assets/img/subimg/bullet02.jpg"/> &nbsp;함수의 경우</h3>
            <h4><img src="/assets/img/subimg/bullet04.png"/> &nbsp;중1 : 대응, 함숫값, 순서상과 좌표평면, 함수( `y=ax` 등)의 그래프</h4>
            <h4><img src="/assets/img/subimg/bullet04.png"/> &nbsp;중2 : `x`, `y`절편, 기울기, 교점</h4>
            <h4><img src="/assets/img/subimg/bullet04.png"/> &nbsp;중3 : 평행이동, 대칭이동</h4>
            <h4><img src="/assets/img/subimg/bullet04.png"/> &nbsp;고1 : 일대일함수,정의역,치역,우함수&amp;기함수,합성함수,역함수</h4>
        </div>

        <div class="col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1 margin-top-20">
            <img class="wow bounce img-responsive center-block" src="/assets/img/step-3.jpg"  alt="학습참여 여부" />
        </div>

    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20">
            <h3><img src="/assets/img/subimg/bullet02.jpg"/> &nbsp;어떤 학습 Course을 따를 것인가?</h3>

            <div class="panel panel-dark-blue margin-bottom-50">
                <div class="panel-heading">
                    <h3 style="color: white;">&nbsp;유레카매스의 학습 코스</h3>
                </div>

                <h5>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 10%"></th>
                                <th style="width: 50%">단원별 학습</th>
                                <th style="width: 40%">학년별 학습</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>구성</td>
                                <td>정수, 방정식, 함수, 삼각형, 통계 등 단원(Sub-category)별로 학습</td>
                                <td>중1~3, 고1~3 학년별로 학습</td>
                            </tr>
                            <tr>
                                <td>학습대상</td>
                                <td>고등학교 학생<br/>
                                    중학교 상위권 학생 중 수학적 욕구가 강한 학생</td>
                                <td>일반적인 중학교 학생</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </h5>
            </div>

        </div>
    </div>

</div>

<%= render 'homes/footer' %>