<!--=== indicate ===-->
<div class="col-md-12 breadcrumbs">
    <div class="container">
        <h2 class="pull-left" style="font-weight:bold; font-size:30px; color:black; padding-top: 15px; padding-bottom: 15px;">자기주도학습이란?</h2>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End indicate ===-->

<div class="container-fluid">

    <div class="row margin-bottom-30">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20">
            <h3 style="color: #638cbd;">학습자 스스로가 학습의 참여여부에서부터 목표설정 및 학습목표달성을 위한 학습계획의 수립, 교육 프로그램의 선정과
                학습계획에 따른 학습 실행, 교육평가에 이르기까지 교육의 전 과정을 자발적 의사에 따라 선택·결정하고 조절과 통제를
                행하게 되는 학습 형태이다.
            </h3>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h3 style="line-height: 180%;">이러한 학습의 전 과정을 독자적으로 수행할 수도 있고
                타인의 도움을 받아 수행할 수도 있다.
                즉, 청소년 학습자의 경우는 원칙적인 자기주도학습을
                완벽히 수행하기에는아직 독립적 자아개념과 자율적
                성숙도가 부족하므로 부모 또는 선생님의 도움을 받아
                자기주도학습을 수행할 수 있다.</h3>
        </div>

        <div class="col-md-5 col-sm-5 col-xs-11">
            <img class="img-responsive center-block" src="/assets/img/subimg/self01.jpg" alt="" />
        </div>
    </div>

    <div class="row" style="background: #2692d0;">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 margin-top-20 margin-bottom-30">
            <h1 style="color: white;">자기주도학습이 효율적으로 이루어지기 위한 조건들</h1>
            ︎<h4 style="color: white; line-height: 180%;">
            <img src="/assets/img/subimg/bullet03.png"/>&nbsp;&nbsp;자신의 학습 필요와 욕구를 정확하게 파악하고 이를 심층적으로 진단하고 있어야 한다.<br/>
            <img src="/assets/img/subimg/bullet03.png"/>&nbsp;&nbsp;학습의 참여 여부와 참여 시기 등을 자율적으로 결정한다.<br/>
            <img src="/assets/img/subimg/bullet03.png"/>&nbsp;&nbsp;학습목표를 선정함에 있어 추상적이고 막연한 학습목표의 설정이 아니라 자신의 학습욕구와 필요에 따라 적정의 학습목표를 명확하게 선정한다.<br/>
            <img src="/assets/img/subimg/bullet03.png"/>&nbsp;&nbsp;학습 내용과 방법 선정은 학습욕구와 학습 필요에 기초하여 어떠한 내용의 학습 프로그램이 적합할 것이며, 그 방법은 자율적으로 선택해야 한다.<br/>
            <img src="/assets/img/subimg/bullet03.png"/>&nbsp;&nbsp;자율적 자기판단과 자기평가가 오히려 더 중시되어야 한다. 교육성취 결과를 평가함에 있어서도 외부의 객관적 평가나 교사 및 전문가에 의한 평가에 앞서 학습자 스스로의 주관적인 평가가 먼저 이루어져야 자기주도학습이 효율적으로 이뤄질 수 있다.
        </h4>
            <h5 style="color: white;" class="text-right"> * 출처 : 교육학용어사전, 교육심리학 용어사전</h5>

            <img class="img-responsive margin-bottom-10 center-block" src="/assets/img/subimg/self02.jpg" alt="" >
        </div>
    </div>

</div>

<%= render 'homes/footer' %>