    <!--=== Content Part ===-->
    <div class="container content">

        <!-- Pricing Table v1-->
        <div class="row pricing-table-v1 no-space-pricing">

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-green">
                    <div class="pricing-v1-head text-center">
                        <h4>Green Plan</h4>
                        <h5><span>$</span>15<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>1 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>SSL Certificate</li>
                        <li><i class="fa fa-check-circle-o"></i>Online Support</li>
                        <li><i class="fa fa-check-circle-o"></i>3GB Disckspace</li>
                        <li><i class="fa fa-check-circle-o"></i>5 Email Addresses</li>
                        <li><i class="fa fa-check-circle-o"></i>MySQL Databases</li>
                        <li><i class="fa fa-check-circle-o"></i>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-blue">
                    <div class="pricing-v1-head">
                        <div class="sticker-left">New</div>
                        <h4 class="text-center">Blue Plan</h4>
                        <h5 class="text-center"><span>$</span>21<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>1 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>SSL Certificate</li>
                        <li><i class="fa fa-check-circle-o"></i>Online Support</li>
                        <li><i class="fa fa-check-circle-o"></i>3GB Disckspace</li>
                        <li><i class="fa fa-check-circle-o"></i>5 Email Addresses</li>
                        <li><i class="fa fa-check-circle-o"></i>MySQL Databases</li>
                        <li><i class="fa fa-check-circle-o"></i>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-u-blue btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-red">
                    <div class="pricing-v1-head">
                        <h4 class="text-center">Red Plan</h4>
                        <h5 class="text-center"><span>$</span>35<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>1 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>SSL Certificate</li>
                        <li><i class="fa fa-check-circle-o"></i>Online Support</li>
                        <li><i class="fa fa-check-circle-o"></i>3GB Disckspace</li>
                        <li><i class="fa fa-check-circle-o"></i>5 Email Addresses</li>
                        <li><i class="fa fa-check-circle-o"></i>MySQL Databases</li>
                        <li><i class="fa fa-check-circle-o"></i>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v1-footer text-center">
                        <a href="#" class="btn-u btn-u-red btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-brown">
                    <div class="pricing-v1-head">
                        <h4 class="text-center">Gold Plan</h4>
                        <h5 class="text-center"><span>$</span>49<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>1 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>SSL Certificate</li>
                        <li><i class="fa fa-check-circle-o"></i>Online Support</li>
                        <li><i class="fa fa-check-circle-o"></i>3GB Disckspace</li>
                        <li><i class="fa fa-check-circle-o"></i>5 Email Addresses</li>
                        <li><i class="fa fa-check-circle-o"></i>MySQL Databases</li>
                        <li><i class="fa fa-check-circle-o"></i>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-u-brown btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v1 -->

        <hr class="margin-bottom-60">

        <!-- Pricing Table v4-->
        <div class="row pricing-table-v4 no-space-pricing">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-green ">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">STARTER</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>9<i>/Month</i></h5></div>
                        <a href="#" class="btn-u btn-u"><i class="price-corner"></i><i class="price-corner-2"></i>Purchase Now<span class="icon-basket"></span></a>
                    </div>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-brown">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">MEDIUM</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>29<i>/Month</i></h5></div>
                        <a href="#" class="btn-u btn-u-brown">
                            <i class="price-corner"></i>
                            <i class="price-corner-2">
                            </i>Purchase Now<span class="icon-basket">
                            </span>
                        </a>
                    </div>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-red">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">BUSINESS</h4>
                        <div class="pricing-rounded">
                            <h5 class="text-center"><span>$</span>49<i>/Month</i></h5></div>
                            <a href="#" class="btn-u btn-u-red">
                                <i class="price-corner"></i>
                                Purchase Now
                                <span class="icon-basket"></span>
                            </a>
                        </div>
                    <ul class="list-unstyled pricing-v4-content">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-dark-blue ">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">LIMITLESS</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>99<i>/Month</i></h5></div>
                        <a href="#" class="btn-u btn-u-dark-blue"><i class="price-corner"></i>Purchase Now<span class="icon-basket"></span></a>
                    </div>
                    <ul class="list-unstyled pricing-v4-content">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                    </ul>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v4-->

        <hr class="margin-bottom-60">

        <!-- Pricing Table v5-->
        <div class="row pricing-table-v5 no-space-pricing">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v5 pricing-v5-orange ">
                    <div class="pricing-v5-head">
                        <h4 class="text-center">Starter</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>9<i>/Month</i></h5></div>
                    </div>
                    <ul class="list-unstyled pricing-v5-content text-center">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                        <li>
                            <a href="#" class="btn-u btn-u-orange">
                                <i class="price-corner"></i>
                                <i class="price-corner-2"></i>
                                Purchase Now
                                <span class="icon-basket"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v5 pricing-v5-blue ">
                    <div class="pricing-v5-head">
                        <h4 class="text-center">Medium</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>19<i>/Month</i></h5></div>
                    </div>
                    <ul class="list-unstyled pricing-v5-content text-center">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                        <li>
                            <a href="#" class="btn-u btn-u-blue">
                                <i class="price-corner"></i>
                                <i class="price-corner-2"></i>
                                Purchase Now
                                <span class="icon-basket"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v5 pricing-v5-grey">
                    <div class="pricing-v5-head">
                        <h4 class="text-center">Business</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>19<i>/Month</i></h5></div>
                    </div>
                    <ul class="list-unstyled pricing-v5-content text-center">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                        <li>
                            <a href="#" class="btn-u btn-u-default">
                                <i class="price-corner"></i>
                                <i class="price-corner-2"></i>
                                Purchase Now
                                <span class="icon-basket"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v5 pricing-v5-light-green">
                    <div class="pricing-v5-head">
                        <h4 class="text-center">Limitless</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>19<i>/Month</i></h5></div>
                    </div>
                    <ul class="list-unstyled pricing-v5-content text-center">
                        <li><span class="icon-user-female"></span> Users - 50</li>
                        <li><span class="icon-drawer"></span> Disckspace - 500GB</li>
                        <li><span class="icon-envelope-open"></span> Email Addresses - 900</li>
                        <li><span class="icon-layers"></span> MySQL Databases</li>
                        <li><span class="icon-wrench"></span> Customisable Toolbar</li>
                        <li>
                            <a href="#" class="btn-u btn-u-light-green">
                                <i class="price-corner"></i>
                                <i class="price-corner-2"></i>
                                Purchase Now
                                <span class="icon-basket"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v4-->

        <hr class="margin-bottom-60">

         <!-- Pricing Table v3-->
        <div class="row pricing-table-v3 no-space-pricing">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v3 pricing-v3-dark-blue ">
                    <div class="pricing-v3-head text-center">
                        <h4>LIGHT PLAN</h4>
                        <h5><span>$</span>15<i>P/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v3-content">
                        <li>Users<i>1</i></li>
                        <li>Disckspace<i>3GB</i></li>
                        <li>Email Addresses<i>5</i></li>
                        <li>SSL Certificate<i>1</i></li>
                        <li>Online Support<i class="fa fa-check"></i></li>
                        <li>MySQL Databases<i class="fa fa-times"></i></li>
                        <li>Customisable Toolbar<i class="fa fa-times"></i></li>
                    </ul>
                    <div class="pricing-v3-footer text-center">
                        <a href="#" class="btn-u btn-u-dark-blue btn-block">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v3 pricing-v3-brown ">
                    <div class="pricing-v3-head text-center">
                        <h4>LIGHT PLAN</h4>
                        <h5><span>$</span>15<i>P/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v3-content">
                        <li>Users<i>5</i></li>
                        <li>Disckspace<i>3GB</i></li>
                        <li>Email Addresses<i>5</i></li>
                        <li>SSL Certificate<i>1</i></li>
                        <li>Online Support<i class="fa fa-check"></i></li>
                        <li>MySQL Databases<i class="fa fa-times"></i></li>
                        <li>Customisable Toolbar<i class="fa fa-times"></i></li>
                    </ul>
                    <div class="pricing-v3-footer text-center">
                        <a href="#" class="btn-u btn-u-brown btn-block">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v3 pricing-v3-blue">
                    <div class="pricing-v3-head">
                        <h4 class="text-center">MEDIUM PLAN</h4>
                        <h5 class="text-center"><span>$</span>21<i>P/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v3-content">
                        <li>Users<i>10</i></li>
                        <li>Disckspace<i>10GB</i></li>
                        <li>Email Addresses<i>100</i></li>
                        <li>SSL Certificate<i>3</i></li>
                        <li>Online Support<i class="fa fa-check"></i></li>
                        <li>MySQL Databases<i class="fa fa-check"></i></li>
                        <li>Customisable Toolbar<i class="fa fa-times"></i></li>
                    </ul>
                    <div class="pricing-v3-footer text-center">
                        <a href="#" class="btn-u btn-u-blue btn-block">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v3 pricing-v3-brown ">
                    <div class="sticker-right bg-brown">BEST    </div>
                    <div class="pricing-v3-head">
                         <h4 class="text-center">GOLD PLAN</h4>
                        <h5 class="text-center"><span>$</span>35<i>P/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v3-content">
                        <li>Users<i>Unlimited</i></li>
                        <li>Disckspace<i>50GB</i></li>
                        <li>Email Addresses<i>300</i></li>
                        <li>SSL Certificate<i>5</i></li>
                        <li>Online Support<i class="fa fa-check"></i></li>
                        <li>MySQL Databases<i class="fa fa-check"></i></li>
                        <li>Customisable Toolbar<i class="fa fa-times"></i></li>
                    </ul>
                    <div class="pricing-v3-footer text-center">
                        <a href="#" class="btn-u btn-u-brown btn-block">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v3-->

        <hr class="margin-bottom-60">

        <!-- Pricing Table v2-->
        <div class="row pricing-table-v2 no-space-pricing">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v2 pricing-v2-grey ">
                        <div class="pricing-v2-head text-center">
                        <h4>Light Plan</h4>
                        <h5><span>$</span>15<i>/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v2-content text-center">
                        <li>3 Users</li>
                        <li>3GB Disckspace</li>
                        <li>5 Email Addresses</li>
                        <li>1 SSL Certificate</li>
                        <li>Online Support</li>
                        <li>MySQL Databases</li>
                        <li>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v2-footer text-center">
                        <a href="#" class="btn-u btn-u-default">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v2 pricing-v2-blue">
                    <div class="pricing-v2-head">
                        <h4 class="text-center">Medium Plan</h4>
                        <h5 class="text-center"><span>$</span>21<i>/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v2-content text-center">
                        <li>5 Users</li>
                        <li>10GB Disckspace</li>
                        <li>100 Email Addresses</li>
                        <li>3 SSL Certificate</li>
                        <li>Online Support</li>
                        <li>MySQL Databases</li>
                        <li>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v2-footer text-center">
                        <a href="#" class="btn-u btn-u-blue">Purchase Now</a>
                    </div>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v2 pricing-v2-brown">
                    <div class="pricing-v2-head">
                         <h4 class="text-center">Green Plan</h4>
                        <h5 class="text-center"><span>$</span>35<i>/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v2-content text-center">
                        <li>10 Users</li>
                        <li>50GB Disckspace</li>
                        <li>300 Email Addresses</li>
                        <li>5 SSL Certificate</li>
                        <li>Online Support</li>
                        <li>MySQL Databases</li>
                        <li>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v2-footer text-center">
                        <a href="#" class="btn-u btn-u-brown">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v2 pricing-v2-dark-blue rounded-3">
                    <div class="pricing-v2-head">
                        <h4 class="text-center">Premium Plan</h4>
                        <h5 class="text-center"><span>$</span>49<i>/Month</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v2-content text-center">
                        <li>50 Users</li>
                        <li>500GB Disckspace</li>
                        <li>900 Email Addresses</li>
                        <li>10 SSL Certificate</li>
                        <li>Online Support</li>
                        <li>MySQL Databases</li>
                        <li>Customisable Toolbar</li>
                    </ul>
                    <div class="pricing-v2-footer text-center">
                        <a href="#" class="btn-u btn-u-dark-blue ">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v2-->
    </div><!--/container-->
    <!--=== End Content Part ===-->  