    <div class="container-fluid" style="margin-top: 50px">
        
        <div class="row">
            
            <div class="col-sm-12 col-md-12 main">
                
                <h2 class="sub-header"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> New Concept</h2>

                <%= render 'form' %>                    
            
            </div>
            
        </div>
    </div>

