<a href="javascript:get_dimensions()" class="btn btn-default">get Dimensions</a>
<button class="btn btn-default" onclick="save_dimensions()">save Dimensions</button>
<a href="/unit_concept_descs/get_not_saved_images" class="btn btn-default">load another images</a>

<% @lists.each do |list| %>

    <div id="div_<%= list.id %>" class="images" style="display:block">
        <span class="id"><%= list.id %></span>
        <img id="img_<%= list.id %>" src="<%= list.file_name %>" style="width: 200px; height:30px;">
        width : <span class="width"></span>
        height : <span class="height"></span>
    </div>    

<% end %>


<script>

function get_dimensions() {
    $('div.images').each(function() {
        var image = new Image();
        image.src = $(this).find('img').attr("src");
        $(this).find('span.width').html(image.naturalWidth);
        $(this).find('span.height').html(image.naturalHeight);
    });
}

function save_dimensions() {
    
    $('#loading').show();
    
    $('div.images').each(function() {
       
        var url = "/unit_concept_descs/" + $(this).find('span.id').html();
        
        var data = {
            "unit_concept_desc" : {
                "width" : $(this).find('span.width').html(),
                "height" : $(this).find('span.height').html()
            }
        }

        $.ajax({
            url: url,
            type: "PUT",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            datatype: "json",
            data:data,
            success : function(data) {
                console.log('data', data.id);
            },
            error : function(){
                alert("try to again. please.");
                $('#loading').hide();
            }
        });       
        
    });
    
    $('#loading').hide();
    alert('완료되었습니다.');
    $('div').remove();
}


</script>