<div class="modal fade" id="admin_profile_modal" tabindex="-1" role="dialog" aria-labelledby="admin_profile_modal" aria-hidden="true" style="display: show;">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title"><i class="fa fa-user"></i>회원정보</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-5">
                        <img id="user_picture" style="width: 100%" src="/assets/img/user_default_img.png"/>
                    </div>
                    <div class="col-md-7">

                        <h2 id="user_name">운영자</h2>

                        <hr>

                        <p id="user_desc"><span style="color: blue">Math</span> <span style="color: green">Fun</span> <span style="color: red">Dream</span> 세 마리 토끼를 잡으세요!</p>
                        <br/>
                        <p>"성공의 비결은 좌절하지 않고 극복하는 데 있다."</p>
                        <p class="text-right">- 발자크(1799-1850), 프랑스의 소설가 -</p>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default rounded" type="button">닫기</button>
            </div>
        </div>
    </div>

</div>