<div class="modal fade" id="student_exercise_history" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title">
                    <h4 id="exercise_modal_unit_concept_name"><span style="color: darkgreen"><i class="fa fa-pencil-square-o"></i></span></h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left: 5px; margin-right: 5px">
                    <!--<h5><strong style="color:darkblue">자기평가 이력</strong></h5>-->
                    <table class="table table-bordered table-striped" style="clear: both">
                        <thead>
                        <th class="text-center">문제 번호</th>
                        <th class="text-center">개념문제 이력 (최근에 푼 결과를 왼쪽부터 표시)</th>
                        </thead>
                        <tbody id="exercise_history_table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>