<div class="modal fade" id="notice_email_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="notice_email_confirm_modal" aria-hidden="true" style="display: none;">
    
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title"><i class="fa fa-envelope"></i>Email 인증안내</h4>
            </div>
            
            <div class="modal-body">
                <% if current_user.sign_in_count < 2 %>
                <h4>Eureka Math 가입을 환영합니다.</h4>
                <p>회원님의 Email 계정인 <span class="color-blue"><%= current_user.email %></span>로 가입인증메일이 발송되었습니다.</p>
                <p>메일을 확인하시고 인증처리 해주시기 바랍니다.</p>
                <p>본인 확인이 되지 않을 경우, 이 계정은 2일 후에 사용정지됩니다.</p>                
                <% else %>
                <h4>Email 본인인증을 해주시기 바랍니다.</h4>    
                <p>회원님의 Email 계정인 <span class="color-blue"><%= current_user.email %></span>로 가입인증메일이 발송되었습니다.</p>
                <p>아직 본인인증이 되지 않고 있습니다. 메일을 확인하시고 <a href="/blogs/sign_in_process">인증처리</a> 해주시기 바랍니다.</p>
                <p>본인 확인이 되지 않을 경우, 이 계정은 가입 2일 후에 자동 사용정지됩니다.</p>                
                <% end %>

            </div>
            
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">닫기</button>
                <% if current_user.sign_in_count >= 2 %>
                <button class="btn-u" type="button" onclick="resendMail()">인증메일 재발송</button>
                <% end %>
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript">

function resendMail() {
    
    $.ajax({
        type: "GET",
	    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	    url: "/users/resend_mail",
	    dataType:"JSON",
	    success: function(data){
            alert('메일을 발송하였습니다. 메일을 확인해 주세요.');
            $('#notice_email_confirm_modal').modal('hide');
        },
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
        }
    });    
    
}

</script>