<div class="modal fade" id="user_profile_modal" tabindex="-1" role="dialog" aria-labelledby="user_profile_modal" aria-hidden="true" style="display: show;">
    
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title"><i class="fa fa-user"></i>회원정보</h4>
            </div>
            
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-5">
                        <img id="user_picture" style="width: 100%" />
                    </div>
                    <div class="col-md-7">
                        <h2 id="user_name"></h2>    
                        <p><span id="user_type"></span></p>
                        <p><span id="user_auth"></span></p>
                        
                        <hr>
                        
                        <p id="user_desc"></p>
                        
                    </div>    
                </div>    

            </div>
            
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">닫기</button>
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript">

function getUserProfile(user_id) {
    
    $.ajax({
        type: "GET",
	    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	    url: "/users/user_profile?user_id=" + user_id,
	    dataType:"JSON",
	    success: function(data){

            var src = "/assets/img/user_default_img.png";
            
            if (data.user_img.url != null) {
                src = data.user_img.url;
            }
            
            $('#user_picture').attr('src',src);
            $('#user_name').text(data.user_name);
            $('#user_type').html("<strong>신분: </strong>" + data.user_type);
            
            var user_type = "Free 회원";
            var currentTime = new Date();
            
            if (new Date(data.expire_date) > currentTime) user_type = "정회원";
            
            $('#user_auth').html("<strong>회원형태: </strong>" + user_type);
            
            var user_desc = '아직 회원님의 자기소개글이 없습니다.';
            if (data.user_desc != null) user_desc = data.user_desc;
            $('#user_desc').html(user_desc);
            
            $('#user_profile_modal').modal();
        },
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
        }
    });    
    
}

</script>